 .vcenter{
    /*width: 200px;*/
    height: 100px;
}
.vcenter:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vcenter :first-child {
    display:inline-block;
}