/*!
 * CSS avatars v0.3.0 (https://github.com/rmhdev/css-avatars)
 * Copyright 2014 Rober Martín H (@rmhdev)
 * Licensed under MIT (https://github.com/rmhdev/css-avatars/blob/master/LICENSE)
 */

.avatar {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.avatar {
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
}
.avatar-sm {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 8px;
}
.avatar-md {
  width: 64px;
  height: 64px;
  line-height: 64px;
  font-size: 32px;
}
.avatar-lg {
  width: 128px;
  height: 128px;
  line-height: 128px;
  font-size: 64px;
}
.avatar-letter-a:before {
  content: "\0061";
}
.avatar-letter-b:before {
  content: "\0062";
}
.avatar-letter-c:before {
  content: "\0063";
}
.avatar-letter-d:before {
  content: "\0064";
}
.avatar-letter-e:before {
  content: "\0065";
}
.avatar-letter-f:before {
  content: "\0066";
}
.avatar-letter-g:before {
  content: "\0067";
}
.avatar-letter-h:before {
  content: "\0068";
}
.avatar-letter-i:before {
  content: "\0069";
}
.avatar-letter-j:before {
  content: "\006A";
}
.avatar-letter-k:before {
  content: "\006B";
}
.avatar-letter-l:before {
  content: "\006C";
}
.avatar-letter-m:before {
  content: "\006D";
}
.avatar-letter-n:before {
  content: "\006E";
}
.avatar-letter-o:before {
  content: "\006F";
}
.avatar-letter-p:before {
  content: "\0070";
}
.avatar-letter-q:before {
  content: "\0071";
}
.avatar-letter-r:before {
  content: "\0072";
}
.avatar-letter-s:before {
  content: "\0073";
}
.avatar-letter-t:before {
  content: "\0074";
}
.avatar-letter-u:before {
  content: "\0075";
}
.avatar-letter-v:before {
  content: "\0076";
}
.avatar-letter-w:before {
  content: "\0077";
}
.avatar-letter-x:before {
  content: "\0078";
}
.avatar-letter-y:before {
  content: "\0079";
}
.avatar-letter-z:before {
  content: "\007A";
}
.avatar {
  background-color: #333333;
  color: #eeeeee;
  text-shadow: #4d4d4d 0.02em 0.02em 0.02em;
}
.avatar-color-0 {
  background-color: #000000;
}
.avatar-color-1 {
  background-color: #000033;
}
.avatar-color-2 {
  background-color: #000066;
}
.avatar-color-3 {
  background-color: #000099;
}
.avatar-color-4 {
  background-color: #0000cc;
}
.avatar-color-5 {
  background-color: #0000ff;
}
.avatar-color-6 {
  background-color: #003300;
}
.avatar-color-7 {
  background-color: #003333;
}
.avatar-color-8 {
  background-color: #003366;
}
.avatar-color-9 {
  background-color: #003399;
}
.avatar-color-10 {
  background-color: #0033cc;
}
.avatar-color-11 {
  background-color: #0033ff;
}
.avatar-color-12 {
  background-color: #006600;
}
.avatar-color-13 {
  background-color: #006633;
}
.avatar-color-14 {
  background-color: #006666;
}
.avatar-color-15 {
  background-color: #006699;
}
.avatar-color-16 {
  background-color: #0066cc;
}
.avatar-color-17 {
  background-color: #0066ff;
}
.avatar-color-18 {
  background-color: #009900;
}
.avatar-color-19 {
  background-color: #009933;
}
.avatar-color-20 {
  background-color: #009966;
}
.avatar-color-21 {
  background-color: #009999;
}
.avatar-color-22 {
  background-color: #0099cc;
}
.avatar-color-23 {
  background-color: #0099ff;
}
.avatar-color-24 {
  background-color: #00cc00;
  color: #333333;
}
.avatar-color-25 {
  background-color: #00cc33;
  color: #333333;
}
.avatar-color-26 {
  background-color: #00cc66;
  color: #333333;
}
.avatar-color-27 {
  background-color: #00cc99;
  color: #333333;
}
.avatar-color-28 {
  background-color: #00cccc;
  color: #333333;
}
.avatar-color-29 {
  background-color: #00ccff;
  color: #333333;
}
.avatar-color-30 {
  background-color: #00ff00;
  color: #333333;
}
.avatar-color-31 {
  background-color: #00ff33;
  color: #333333;
}
.avatar-color-32 {
  background-color: #00ff66;
  color: #333333;
}
.avatar-color-33 {
  background-color: #00ff99;
  color: #333333;
}
.avatar-color-34 {
  background-color: #00ffcc;
  color: #333333;
}
.avatar-color-35 {
  background-color: #00ffff;
  color: #333333;
}
.avatar-color-36 {
  background-color: #330000;
}
.avatar-color-37 {
  background-color: #330033;
}
.avatar-color-38 {
  background-color: #330066;
}
.avatar-color-39 {
  background-color: #330099;
}
.avatar-color-40 {
  background-color: #3300cc;
}
.avatar-color-41 {
  background-color: #3300ff;
}
.avatar-color-42 {
  background-color: #333300;
}
.avatar-color-43 {
  background-color: #333333;
}
.avatar-color-44 {
  background-color: #333366;
}
.avatar-color-45 {
  background-color: #333399;
}
.avatar-color-46 {
  background-color: #3333cc;
}
.avatar-color-47 {
  background-color: #3333ff;
}
.avatar-color-48 {
  background-color: #336600;
}
.avatar-color-49 {
  background-color: #336633;
}
.avatar-color-50 {
  background-color: #336666;
}
.avatar-color-51 {
  background-color: #336699;
}
.avatar-color-52 {
  background-color: #3366cc;
}
.avatar-color-53 {
  background-color: #3366ff;
}
.avatar-color-54 {
  background-color: #339900;
}
.avatar-color-55 {
  background-color: #339933;
}
.avatar-color-56 {
  background-color: #339966;
}
.avatar-color-57 {
  background-color: #339999;
}
.avatar-color-58 {
  background-color: #3399cc;
}
.avatar-color-59 {
  background-color: #3399ff;
}
.avatar-color-60 {
  background-color: #33cc00;
  color: #333333;
}
.avatar-color-61 {
  background-color: #33cc33;
  color: #333333;
}
.avatar-color-62 {
  background-color: #33cc66;
  color: #333333;
}
.avatar-color-63 {
  background-color: #33cc99;
  color: #333333;
}
.avatar-color-64 {
  background-color: #33cccc;
  color: #333333;
}
.avatar-color-65 {
  background-color: #33ccff;
  color: #333333;
}
.avatar-color-66 {
  background-color: #33ff00;
  color: #333333;
}
.avatar-color-67 {
  background-color: #33ff33;
  color: #333333;
}
.avatar-color-68 {
  background-color: #33ff66;
  color: #333333;
}
.avatar-color-69 {
  background-color: #33ff99;
  color: #333333;
}
.avatar-color-70 {
  background-color: #33ffcc;
  color: #333333;
}
.avatar-color-71 {
  background-color: #33ffff;
  color: #333333;
}
.avatar-color-72 {
  background-color: #660000;
}
.avatar-color-73 {
  background-color: #660033;
}
.avatar-color-74 {
  background-color: #660066;
}
.avatar-color-75 {
  background-color: #660099;
}
.avatar-color-76 {
  background-color: #6600cc;
}
.avatar-color-77 {
  background-color: #6600ff;
}
.avatar-color-78 {
  background-color: #663300;
}
.avatar-color-79 {
  background-color: #663333;
}
.avatar-color-80 {
  background-color: #663366;
}
.avatar-color-81 {
  background-color: #663399;
}
.avatar-color-82 {
  background-color: #6633cc;
}
.avatar-color-83 {
  background-color: #6633ff;
}
.avatar-color-84 {
  background-color: #666600;
}
.avatar-color-85 {
  background-color: #666633;
}
.avatar-color-86 {
  background-color: #666666;
}
.avatar-color-87 {
  background-color: #666699;
}
.avatar-color-88 {
  background-color: #6666cc;
}
.avatar-color-89 {
  background-color: #6666ff;
}
.avatar-color-90 {
  background-color: #669900;
}
.avatar-color-91 {
  background-color: #669933;
}
.avatar-color-92 {
  background-color: #669966;
}
.avatar-color-93 {
  background-color: #669999;
}
.avatar-color-94 {
  background-color: #6699cc;
}
.avatar-color-95 {
  background-color: #6699ff;
}
.avatar-color-96 {
  background-color: #66cc00;
  color: #333333;
}
.avatar-color-97 {
  background-color: #66cc33;
  color: #333333;
}
.avatar-color-98 {
  background-color: #66cc66;
  color: #333333;
}
.avatar-color-99 {
  background-color: #66cc99;
  color: #333333;
}
.avatar-color-100 {
  background-color: #66cccc;
  color: #333333;
}
.avatar-color-101 {
  background-color: #66ccff;
  color: #333333;
}
.avatar-color-102 {
  background-color: #66ff00;
  color: #333333;
}
.avatar-color-103 {
  background-color: #66ff33;
  color: #333333;
}
.avatar-color-104 {
  background-color: #66ff66;
  color: #333333;
}
.avatar-color-105 {
  background-color: #66ff99;
  color: #333333;
}
.avatar-color-106 {
  background-color: #66ffcc;
  color: #333333;
}
.avatar-color-107 {
  background-color: #66ffff;
  color: #333333;
}
.avatar-color-108 {
  background-color: #990000;
}
.avatar-color-109 {
  background-color: #990033;
}
.avatar-color-110 {
  background-color: #990066;
}
.avatar-color-111 {
  background-color: #990099;
}
.avatar-color-112 {
  background-color: #9900cc;
}
.avatar-color-113 {
  background-color: #9900ff;
}
.avatar-color-114 {
  background-color: #993300;
}
.avatar-color-115 {
  background-color: #993333;
}
.avatar-color-116 {
  background-color: #993366;
}
.avatar-color-117 {
  background-color: #993399;
}
.avatar-color-118 {
  background-color: #9933cc;
}
.avatar-color-119 {
  background-color: #9933ff;
}
.avatar-color-120 {
  background-color: #996600;
}
.avatar-color-121 {
  background-color: #996633;
}
.avatar-color-122 {
  background-color: #996666;
}
.avatar-color-123 {
  background-color: #996699;
}
.avatar-color-124 {
  background-color: #9966cc;
}
.avatar-color-125 {
  background-color: #9966ff;
}
.avatar-color-126 {
  background-color: #999900;
}
.avatar-color-127 {
  background-color: #999933;
}
.avatar-color-128 {
  background-color: #999966;
}
.avatar-color-129 {
  background-color: #999999;
}
.avatar-color-130 {
  background-color: #9999cc;
}
.avatar-color-131 {
  background-color: #9999ff;
}
.avatar-color-132 {
  background-color: #99cc00;
  color: #333333;
}
.avatar-color-133 {
  background-color: #99cc33;
  color: #333333;
}
.avatar-color-134 {
  background-color: #99cc66;
  color: #333333;
}
.avatar-color-135 {
  background-color: #99cc99;
  color: #333333;
}
.avatar-color-136 {
  background-color: #99cccc;
  color: #333333;
}
.avatar-color-137 {
  background-color: #99ccff;
  color: #333333;
}
.avatar-color-138 {
  background-color: #99ff00;
  color: #333333;
}
.avatar-color-139 {
  background-color: #99ff33;
  color: #333333;
}
.avatar-color-140 {
  background-color: #99ff66;
  color: #333333;
}
.avatar-color-141 {
  background-color: #99ff99;
  color: #333333;
}
.avatar-color-142 {
  background-color: #99ffcc;
  color: #333333;
}
.avatar-color-143 {
  background-color: #99ffff;
  color: #333333;
}
.avatar-color-144 {
  background-color: #cc0000;
}
.avatar-color-145 {
  background-color: #cc0033;
}
.avatar-color-146 {
  background-color: #cc0066;
}
.avatar-color-147 {
  background-color: #cc0099;
}
.avatar-color-148 {
  background-color: #cc00cc;
}
.avatar-color-149 {
  background-color: #cc00ff;
}
.avatar-color-150 {
  background-color: #cc3300;
}
.avatar-color-151 {
  background-color: #cc3333;
}
.avatar-color-152 {
  background-color: #cc3366;
}
.avatar-color-153 {
  background-color: #cc3399;
}
.avatar-color-154 {
  background-color: #cc33cc;
}
.avatar-color-155 {
  background-color: #cc33ff;
}
.avatar-color-156 {
  background-color: #cc6600;
}
.avatar-color-157 {
  background-color: #cc6633;
}
.avatar-color-158 {
  background-color: #cc6666;
}
.avatar-color-159 {
  background-color: #cc6699;
}
.avatar-color-160 {
  background-color: #cc66cc;
}
.avatar-color-161 {
  background-color: #cc66ff;
}
.avatar-color-162 {
  background-color: #cc9900;
}
.avatar-color-163 {
  background-color: #cc9933;
}
.avatar-color-164 {
  background-color: #cc9966;
}
.avatar-color-165 {
  background-color: #cc9999;
}
.avatar-color-166 {
  background-color: #cc99cc;
}
.avatar-color-167 {
  background-color: #cc99ff;
}
.avatar-color-168 {
  background-color: #cccc00;
  color: #333333;
}
.avatar-color-169 {
  background-color: #cccc33;
  color: #333333;
}
.avatar-color-170 {
  background-color: #cccc66;
  color: #333333;
}
.avatar-color-171 {
  background-color: #cccc99;
  color: #333333;
}
.avatar-color-172 {
  background-color: #cccccc;
  color: #333333;
}
.avatar-color-173 {
  background-color: #ccccff;
  color: #333333;
}
.avatar-color-174 {
  background-color: #ccff00;
  color: #333333;
}
.avatar-color-175 {
  background-color: #ccff33;
  color: #333333;
}
.avatar-color-176 {
  background-color: #ccff66;
  color: #333333;
}
.avatar-color-177 {
  background-color: #ccff99;
  color: #333333;
}
.avatar-color-178 {
  background-color: #ccffcc;
  color: #333333;
}
.avatar-color-179 {
  background-color: #ccffff;
  color: #333333;
}
.avatar-color-180 {
  background-color: #ff0000;
}
.avatar-color-181 {
  background-color: #ff0033;
}
.avatar-color-182 {
  background-color: #ff0066;
}
.avatar-color-183 {
  background-color: #ff0099;
}
.avatar-color-184 {
  background-color: #ff00cc;
}
.avatar-color-185 {
  background-color: #ff00ff;
}
.avatar-color-186 {
  background-color: #ff3300;
}
.avatar-color-187 {
  background-color: #ff3333;
}
.avatar-color-188 {
  background-color: #ff3366;
}
.avatar-color-189 {
  background-color: #ff3399;
}
.avatar-color-190 {
  background-color: #ff33cc;
}
.avatar-color-191 {
  background-color: #ff33ff;
}
.avatar-color-192 {
  background-color: #ff6600;
}
.avatar-color-193 {
  background-color: #ff6633;
}
.avatar-color-194 {
  background-color: #ff6666;
}
.avatar-color-195 {
  background-color: #ff6699;
}
.avatar-color-196 {
  background-color: #ff66cc;
}
.avatar-color-197 {
  background-color: #ff66ff;
}
.avatar-color-198 {
  background-color: #ff9900;
  color: #333333;
}
.avatar-color-199 {
  background-color: #ff9933;
  color: #333333;
}
.avatar-color-200 {
  background-color: #ff9966;
  color: #333333;
}
.avatar-color-201 {
  background-color: #ff9999;
  color: #333333;
}
.avatar-color-202 {
  background-color: #ff99cc;
  color: #333333;
}
.avatar-color-203 {
  background-color: #ff99ff;
  color: #333333;
}
.avatar-color-204 {
  background-color: #ffcc00;
  color: #333333;
}
.avatar-color-205 {
  background-color: #ffcc33;
  color: #333333;
}
.avatar-color-206 {
  background-color: #ffcc66;
  color: #333333;
}
.avatar-color-207 {
  background-color: #ffcc99;
  color: #333333;
}
.avatar-color-208 {
  background-color: #ffcccc;
  color: #333333;
}
.avatar-color-209 {
  background-color: #ffccff;
  color: #333333;
}
.avatar-color-210 {
  background-color: #ffff00;
  color: #333333;
}
.avatar-color-211 {
  background-color: #ffff33;
  color: #333333;
}
.avatar-color-212 {
  background-color: #ffff66;
  color: #333333;
}
.avatar-color-213 {
  background-color: #ffff99;
  color: #333333;
}
.avatar-color-214 {
  background-color: #ffffcc;
  color: #333333;
}
.avatar-color-215 {
  background-color: #ffffff;
  color: #333333;
}
.avatar-inverse {
  background-color: #333333;
  color: #eeeeee;
  text-shadow: #6f6f6f 0.02em 0.02em 0.02em;
}
.avatar-inverse.avatar-color-215 {
  color: #ffffff;
}
.avatar-inverse.avatar-color-214 {
  color: #ffffcc;
}
.avatar-inverse.avatar-color-213 {
  color: #ffff99;
}
.avatar-inverse.avatar-color-212 {
  color: #ffff66;
}
.avatar-inverse.avatar-color-211 {
  color: #ffff33;
}
.avatar-inverse.avatar-color-210 {
  color: #ffff00;
}
.avatar-inverse.avatar-color-209 {
  color: #ffccff;
}
.avatar-inverse.avatar-color-208 {
  color: #ffcccc;
}
.avatar-inverse.avatar-color-207 {
  color: #ffcc99;
}
.avatar-inverse.avatar-color-206 {
  color: #ffcc66;
}
.avatar-inverse.avatar-color-205 {
  color: #ffcc33;
}
.avatar-inverse.avatar-color-204 {
  color: #ffcc00;
}
.avatar-inverse.avatar-color-203 {
  color: #ff99ff;
}
.avatar-inverse.avatar-color-202 {
  color: #ff99cc;
}
.avatar-inverse.avatar-color-201 {
  color: #ff9999;
}
.avatar-inverse.avatar-color-200 {
  color: #ff9966;
}
.avatar-inverse.avatar-color-199 {
  color: #ff9933;
}
.avatar-inverse.avatar-color-198 {
  color: #ff9900;
}
.avatar-inverse.avatar-color-197 {
  background-color: #eeeeee;
  color: #ff66ff;
}
.avatar-inverse.avatar-color-196 {
  background-color: #eeeeee;
  color: #ff66cc;
}
.avatar-inverse.avatar-color-195 {
  background-color: #eeeeee;
  color: #ff6699;
}
.avatar-inverse.avatar-color-194 {
  background-color: #eeeeee;
  color: #ff6666;
}
.avatar-inverse.avatar-color-193 {
  background-color: #eeeeee;
  color: #ff6633;
}
.avatar-inverse.avatar-color-192 {
  background-color: #eeeeee;
  color: #ff6600;
}
.avatar-inverse.avatar-color-191 {
  background-color: #eeeeee;
  color: #ff33ff;
}
.avatar-inverse.avatar-color-190 {
  background-color: #eeeeee;
  color: #ff33cc;
}
.avatar-inverse.avatar-color-189 {
  background-color: #eeeeee;
  color: #ff3399;
}
.avatar-inverse.avatar-color-188 {
  background-color: #eeeeee;
  color: #ff3366;
}
.avatar-inverse.avatar-color-187 {
  background-color: #eeeeee;
  color: #ff3333;
}
.avatar-inverse.avatar-color-186 {
  background-color: #eeeeee;
  color: #ff3300;
}
.avatar-inverse.avatar-color-185 {
  background-color: #eeeeee;
  color: #ff00ff;
}
.avatar-inverse.avatar-color-184 {
  background-color: #eeeeee;
  color: #ff00cc;
}
.avatar-inverse.avatar-color-183 {
  background-color: #eeeeee;
  color: #ff0099;
}
.avatar-inverse.avatar-color-182 {
  background-color: #eeeeee;
  color: #ff0066;
}
.avatar-inverse.avatar-color-181 {
  background-color: #eeeeee;
  color: #ff0033;
}
.avatar-inverse.avatar-color-180 {
  background-color: #eeeeee;
  color: #ff0000;
}
.avatar-inverse.avatar-color-179 {
  color: #ccffff;
}
.avatar-inverse.avatar-color-178 {
  color: #ccffcc;
}
.avatar-inverse.avatar-color-177 {
  color: #ccff99;
}
.avatar-inverse.avatar-color-176 {
  color: #ccff66;
}
.avatar-inverse.avatar-color-175 {
  color: #ccff33;
}
.avatar-inverse.avatar-color-174 {
  color: #ccff00;
}
.avatar-inverse.avatar-color-173 {
  color: #ccccff;
}
.avatar-inverse.avatar-color-172 {
  color: #cccccc;
}
.avatar-inverse.avatar-color-171 {
  color: #cccc99;
}
.avatar-inverse.avatar-color-170 {
  color: #cccc66;
}
.avatar-inverse.avatar-color-169 {
  color: #cccc33;
}
.avatar-inverse.avatar-color-168 {
  color: #cccc00;
}
.avatar-inverse.avatar-color-167 {
  background-color: #eeeeee;
  color: #cc99ff;
}
.avatar-inverse.avatar-color-166 {
  background-color: #eeeeee;
  color: #cc99cc;
}
.avatar-inverse.avatar-color-165 {
  background-color: #eeeeee;
  color: #cc9999;
}
.avatar-inverse.avatar-color-164 {
  background-color: #eeeeee;
  color: #cc9966;
}
.avatar-inverse.avatar-color-163 {
  background-color: #eeeeee;
  color: #cc9933;
}
.avatar-inverse.avatar-color-162 {
  background-color: #eeeeee;
  color: #cc9900;
}
.avatar-inverse.avatar-color-161 {
  background-color: #eeeeee;
  color: #cc66ff;
}
.avatar-inverse.avatar-color-160 {
  background-color: #eeeeee;
  color: #cc66cc;
}
.avatar-inverse.avatar-color-159 {
  background-color: #eeeeee;
  color: #cc6699;
}
.avatar-inverse.avatar-color-158 {
  background-color: #eeeeee;
  color: #cc6666;
}
.avatar-inverse.avatar-color-157 {
  background-color: #eeeeee;
  color: #cc6633;
}
.avatar-inverse.avatar-color-156 {
  background-color: #eeeeee;
  color: #cc6600;
}
.avatar-inverse.avatar-color-155 {
  background-color: #eeeeee;
  color: #cc33ff;
}
.avatar-inverse.avatar-color-154 {
  background-color: #eeeeee;
  color: #cc33cc;
}
.avatar-inverse.avatar-color-153 {
  background-color: #eeeeee;
  color: #cc3399;
}
.avatar-inverse.avatar-color-152 {
  background-color: #eeeeee;
  color: #cc3366;
}
.avatar-inverse.avatar-color-151 {
  background-color: #eeeeee;
  color: #cc3333;
}
.avatar-inverse.avatar-color-150 {
  background-color: #eeeeee;
  color: #cc3300;
}
.avatar-inverse.avatar-color-149 {
  background-color: #eeeeee;
  color: #cc00ff;
}
.avatar-inverse.avatar-color-148 {
  background-color: #eeeeee;
  color: #cc00cc;
}
.avatar-inverse.avatar-color-147 {
  background-color: #eeeeee;
  color: #cc0099;
}
.avatar-inverse.avatar-color-146 {
  background-color: #eeeeee;
  color: #cc0066;
}
.avatar-inverse.avatar-color-145 {
  background-color: #eeeeee;
  color: #cc0033;
}
.avatar-inverse.avatar-color-144 {
  background-color: #eeeeee;
  color: #cc0000;
}
.avatar-inverse.avatar-color-143 {
  color: #99ffff;
}
.avatar-inverse.avatar-color-142 {
  color: #99ffcc;
}
.avatar-inverse.avatar-color-141 {
  color: #99ff99;
}
.avatar-inverse.avatar-color-140 {
  color: #99ff66;
}
.avatar-inverse.avatar-color-139 {
  color: #99ff33;
}
.avatar-inverse.avatar-color-138 {
  color: #99ff00;
}
.avatar-inverse.avatar-color-137 {
  color: #99ccff;
}
.avatar-inverse.avatar-color-136 {
  color: #99cccc;
}
.avatar-inverse.avatar-color-135 {
  color: #99cc99;
}
.avatar-inverse.avatar-color-134 {
  color: #99cc66;
}
.avatar-inverse.avatar-color-133 {
  color: #99cc33;
}
.avatar-inverse.avatar-color-132 {
  color: #99cc00;
}
.avatar-inverse.avatar-color-131 {
  background-color: #eeeeee;
  color: #9999ff;
}
.avatar-inverse.avatar-color-130 {
  background-color: #eeeeee;
  color: #9999cc;
}
.avatar-inverse.avatar-color-129 {
  background-color: #eeeeee;
  color: #999999;
}
.avatar-inverse.avatar-color-128 {
  background-color: #eeeeee;
  color: #999966;
}
.avatar-inverse.avatar-color-127 {
  background-color: #eeeeee;
  color: #999933;
}
.avatar-inverse.avatar-color-126 {
  background-color: #eeeeee;
  color: #999900;
}
.avatar-inverse.avatar-color-125 {
  background-color: #eeeeee;
  color: #9966ff;
}
.avatar-inverse.avatar-color-124 {
  background-color: #eeeeee;
  color: #9966cc;
}
.avatar-inverse.avatar-color-123 {
  background-color: #eeeeee;
  color: #996699;
}
.avatar-inverse.avatar-color-122 {
  background-color: #eeeeee;
  color: #996666;
}
.avatar-inverse.avatar-color-121 {
  background-color: #eeeeee;
  color: #996633;
}
.avatar-inverse.avatar-color-120 {
  background-color: #eeeeee;
  color: #996600;
}
.avatar-inverse.avatar-color-119 {
  background-color: #eeeeee;
  color: #9933ff;
}
.avatar-inverse.avatar-color-118 {
  background-color: #eeeeee;
  color: #9933cc;
}
.avatar-inverse.avatar-color-117 {
  background-color: #eeeeee;
  color: #993399;
}
.avatar-inverse.avatar-color-116 {
  background-color: #eeeeee;
  color: #993366;
}
.avatar-inverse.avatar-color-115 {
  background-color: #eeeeee;
  color: #993333;
}
.avatar-inverse.avatar-color-114 {
  background-color: #eeeeee;
  color: #993300;
}
.avatar-inverse.avatar-color-113 {
  background-color: #eeeeee;
  color: #9900ff;
}
.avatar-inverse.avatar-color-112 {
  background-color: #eeeeee;
  color: #9900cc;
}
.avatar-inverse.avatar-color-111 {
  background-color: #eeeeee;
  color: #990099;
}
.avatar-inverse.avatar-color-110 {
  background-color: #eeeeee;
  color: #990066;
}
.avatar-inverse.avatar-color-109 {
  background-color: #eeeeee;
  color: #990033;
}
.avatar-inverse.avatar-color-108 {
  background-color: #eeeeee;
  color: #990000;
}
.avatar-inverse.avatar-color-107 {
  color: #66ffff;
}
.avatar-inverse.avatar-color-106 {
  color: #66ffcc;
}
.avatar-inverse.avatar-color-105 {
  color: #66ff99;
}
.avatar-inverse.avatar-color-104 {
  color: #66ff66;
}
.avatar-inverse.avatar-color-103 {
  color: #66ff33;
}
.avatar-inverse.avatar-color-102 {
  color: #66ff00;
}
.avatar-inverse.avatar-color-101 {
  color: #66ccff;
}
.avatar-inverse.avatar-color-100 {
  color: #66cccc;
}
.avatar-inverse.avatar-color-99 {
  color: #66cc99;
}
.avatar-inverse.avatar-color-98 {
  color: #66cc66;
}
.avatar-inverse.avatar-color-97 {
  color: #66cc33;
}
.avatar-inverse.avatar-color-96 {
  color: #66cc00;
}
.avatar-inverse.avatar-color-95 {
  background-color: #eeeeee;
  color: #6699ff;
}
.avatar-inverse.avatar-color-94 {
  background-color: #eeeeee;
  color: #6699cc;
}
.avatar-inverse.avatar-color-93 {
  background-color: #eeeeee;
  color: #669999;
}
.avatar-inverse.avatar-color-92 {
  background-color: #eeeeee;
  color: #669966;
}
.avatar-inverse.avatar-color-91 {
  background-color: #eeeeee;
  color: #669933;
}
.avatar-inverse.avatar-color-90 {
  background-color: #eeeeee;
  color: #669900;
}
.avatar-inverse.avatar-color-89 {
  background-color: #eeeeee;
  color: #6666ff;
}
.avatar-inverse.avatar-color-88 {
  background-color: #eeeeee;
  color: #6666cc;
}
.avatar-inverse.avatar-color-87 {
  background-color: #eeeeee;
  color: #666699;
}
.avatar-inverse.avatar-color-86 {
  background-color: #eeeeee;
  color: #666666;
}
.avatar-inverse.avatar-color-85 {
  background-color: #eeeeee;
  color: #666633;
}
.avatar-inverse.avatar-color-84 {
  background-color: #eeeeee;
  color: #666600;
}
.avatar-inverse.avatar-color-83 {
  background-color: #eeeeee;
  color: #6633ff;
}
.avatar-inverse.avatar-color-82 {
  background-color: #eeeeee;
  color: #6633cc;
}
.avatar-inverse.avatar-color-81 {
  background-color: #eeeeee;
  color: #663399;
}
.avatar-inverse.avatar-color-80 {
  background-color: #eeeeee;
  color: #663366;
}
.avatar-inverse.avatar-color-79 {
  background-color: #eeeeee;
  color: #663333;
}
.avatar-inverse.avatar-color-78 {
  background-color: #eeeeee;
  color: #663300;
}
.avatar-inverse.avatar-color-77 {
  background-color: #eeeeee;
  color: #6600ff;
}
.avatar-inverse.avatar-color-76 {
  background-color: #eeeeee;
  color: #6600cc;
}
.avatar-inverse.avatar-color-75 {
  background-color: #eeeeee;
  color: #660099;
}
.avatar-inverse.avatar-color-74 {
  background-color: #eeeeee;
  color: #660066;
}
.avatar-inverse.avatar-color-73 {
  background-color: #eeeeee;
  color: #660033;
}
.avatar-inverse.avatar-color-72 {
  background-color: #eeeeee;
  color: #660000;
}
.avatar-inverse.avatar-color-71 {
  color: #33ffff;
}
.avatar-inverse.avatar-color-70 {
  color: #33ffcc;
}
.avatar-inverse.avatar-color-69 {
  color: #33ff99;
}
.avatar-inverse.avatar-color-68 {
  color: #33ff66;
}
.avatar-inverse.avatar-color-67 {
  color: #33ff33;
}
.avatar-inverse.avatar-color-66 {
  color: #33ff00;
}
.avatar-inverse.avatar-color-65 {
  color: #33ccff;
}
.avatar-inverse.avatar-color-64 {
  color: #33cccc;
}
.avatar-inverse.avatar-color-63 {
  color: #33cc99;
}
.avatar-inverse.avatar-color-62 {
  color: #33cc66;
}
.avatar-inverse.avatar-color-61 {
  color: #33cc33;
}
.avatar-inverse.avatar-color-60 {
  color: #33cc00;
}
.avatar-inverse.avatar-color-59 {
  background-color: #eeeeee;
  color: #3399ff;
}
.avatar-inverse.avatar-color-58 {
  background-color: #eeeeee;
  color: #3399cc;
}
.avatar-inverse.avatar-color-57 {
  background-color: #eeeeee;
  color: #339999;
}
.avatar-inverse.avatar-color-56 {
  background-color: #eeeeee;
  color: #339966;
}
.avatar-inverse.avatar-color-55 {
  background-color: #eeeeee;
  color: #339933;
}
.avatar-inverse.avatar-color-54 {
  background-color: #eeeeee;
  color: #339900;
}
.avatar-inverse.avatar-color-53 {
  background-color: #eeeeee;
  color: #3366ff;
}
.avatar-inverse.avatar-color-52 {
  background-color: #eeeeee;
  color: #3366cc;
}
.avatar-inverse.avatar-color-51 {
  background-color: #eeeeee;
  color: #336699;
}
.avatar-inverse.avatar-color-50 {
  background-color: #eeeeee;
  color: #336666;
}
.avatar-inverse.avatar-color-49 {
  background-color: #eeeeee;
  color: #336633;
}
.avatar-inverse.avatar-color-48 {
  background-color: #eeeeee;
  color: #336600;
}
.avatar-inverse.avatar-color-47 {
  background-color: #eeeeee;
  color: #3333ff;
}
.avatar-inverse.avatar-color-46 {
  background-color: #eeeeee;
  color: #3333cc;
}
.avatar-inverse.avatar-color-45 {
  background-color: #eeeeee;
  color: #333399;
}
.avatar-inverse.avatar-color-44 {
  background-color: #eeeeee;
  color: #333366;
}
.avatar-inverse.avatar-color-43 {
  background-color: #eeeeee;
  color: #333333;
}
.avatar-inverse.avatar-color-42 {
  background-color: #eeeeee;
  color: #333300;
}
.avatar-inverse.avatar-color-41 {
  background-color: #eeeeee;
  color: #3300ff;
}
.avatar-inverse.avatar-color-40 {
  background-color: #eeeeee;
  color: #3300cc;
}
.avatar-inverse.avatar-color-39 {
  background-color: #eeeeee;
  color: #330099;
}
.avatar-inverse.avatar-color-38 {
  background-color: #eeeeee;
  color: #330066;
}
.avatar-inverse.avatar-color-37 {
  background-color: #eeeeee;
  color: #330033;
}
.avatar-inverse.avatar-color-36 {
  background-color: #eeeeee;
  color: #330000;
}
.avatar-inverse.avatar-color-35 {
  color: #00ffff;
}
.avatar-inverse.avatar-color-34 {
  color: #00ffcc;
}
.avatar-inverse.avatar-color-33 {
  color: #00ff99;
}
.avatar-inverse.avatar-color-32 {
  color: #00ff66;
}
.avatar-inverse.avatar-color-31 {
  color: #00ff33;
}
.avatar-inverse.avatar-color-30 {
  color: #00ff00;
}
.avatar-inverse.avatar-color-29 {
  color: #00ccff;
}
.avatar-inverse.avatar-color-28 {
  color: #00cccc;
}
.avatar-inverse.avatar-color-27 {
  color: #00cc99;
}
.avatar-inverse.avatar-color-26 {
  color: #00cc66;
}
.avatar-inverse.avatar-color-25 {
  color: #00cc33;
}
.avatar-inverse.avatar-color-24 {
  color: #00cc00;
}
.avatar-inverse.avatar-color-23 {
  background-color: #eeeeee;
  color: #0099ff;
}
.avatar-inverse.avatar-color-22 {
  background-color: #eeeeee;
  color: #0099cc;
}
.avatar-inverse.avatar-color-21 {
  background-color: #eeeeee;
  color: #009999;
}
.avatar-inverse.avatar-color-20 {
  background-color: #eeeeee;
  color: #009966;
}
.avatar-inverse.avatar-color-19 {
  background-color: #eeeeee;
  color: #009933;
}
.avatar-inverse.avatar-color-18 {
  background-color: #eeeeee;
  color: #009900;
}
.avatar-inverse.avatar-color-17 {
  background-color: #eeeeee;
  color: #0066ff;
}
.avatar-inverse.avatar-color-16 {
  background-color: #eeeeee;
  color: #0066cc;
}
.avatar-inverse.avatar-color-15 {
  background-color: #eeeeee;
  color: #006699;
}
.avatar-inverse.avatar-color-14 {
  background-color: #eeeeee;
  color: #006666;
}
.avatar-inverse.avatar-color-13 {
  background-color: #eeeeee;
  color: #006633;
}
.avatar-inverse.avatar-color-12 {
  background-color: #eeeeee;
  color: #006600;
}
.avatar-inverse.avatar-color-11 {
  background-color: #eeeeee;
  color: #0033ff;
}
.avatar-inverse.avatar-color-10 {
  background-color: #eeeeee;
  color: #0033cc;
}
.avatar-inverse.avatar-color-9 {
  background-color: #eeeeee;
  color: #003399;
}
.avatar-inverse.avatar-color-8 {
  background-color: #eeeeee;
  color: #003366;
}
.avatar-inverse.avatar-color-7 {
  background-color: #eeeeee;
  color: #003333;
}
.avatar-inverse.avatar-color-6 {
  background-color: #eeeeee;
  color: #003300;
}
.avatar-inverse.avatar-color-5 {
  background-color: #eeeeee;
  color: #0000ff;
}
.avatar-inverse.avatar-color-4 {
  background-color: #eeeeee;
  color: #0000cc;
}
.avatar-inverse.avatar-color-3 {
  background-color: #eeeeee;
  color: #000099;
}
.avatar-inverse.avatar-color-2 {
  background-color: #eeeeee;
  color: #000066;
}
.avatar-inverse.avatar-color-1 {
  background-color: #eeeeee;
  color: #000033;
}
.avatar-inverse.avatar-color-0 {
  background-color: #eeeeee;
  color: #000000;
}
.avatar-plain {
  text-shadow: none;
}