{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}  Home | NightFable {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css">
    <link href="{% static "themes/triangle/css/animate.min.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "themes/triangle/css/custom.css" %}" type="text/css" rel="stylesheet">
    <link href="{% static "themes/tr]iangle/css/lightbox.css" %}" type="text/css" rel="stylesheet">
	<link href="{% static "themes/triangle/css/main.css" %}" type="text/css" rel="stylesheet">
	<link href="{% static "themes/triangle/css/app.css" %}" type="text/css" rel="stylesheet">
	<link href="{% static "themes/triangle/css/responsive.css" %}" type="text/css" rel="stylesheet">
	<link href="{% static "themes/triangle/css/avatar-css.css" %}" type="text/css" rel="stylesheet">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static "themes/triangle/js/lightbox.min.js" %}"></script>
    <script type="text/javascript" src="{% static "themes/triangle/js/wow.min.js" %}"></script>
    <script type="text/javascript" src="{% static "themes/triangle/js/main.js" %}"></script>
    <script type="text/javascript" src="{% static "themes/triangle/js/app.js" %}"></script>
    <!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="{% static "themes/triangle/images/favicon.ico" %}"  >
    {% block extrahead %}{% endblock %}
</head>
<body>

    {% block header %}
        <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 overflow">
                   <div class="social-icons pull-right">
                        <ul class="nav nav-pills">
                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                            <li><a href=""><i class="fa fa-dribbble"></i></a></li>
                            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
             </div>
        </div>
        <div class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                    	<h1><img src="{% static "themes/triangle/images/logo.png"  %}" alt="logo"></h1>
                    </a>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="{% url 'homepage' %}">Home <i class="fa fa-angle-down"></i></a>
                        </li>
                        <li class="dropdown"><a href="{% url 'storypage' %}">Stories <i class="fa fa-angle-down"></i></a>
                            <ul role="menu" class="sub-menu">
                                <li><a href="{% url "storypage" %}">Discover</a></li>
                                <li><a href="{% url "storypage" %}">Popular</a></li>
                                <li><a href="{% url "storypage" %}">New</a></li>
                            </ul>
                        </li>
                        {% if request.user.is_authenticated %}
                            <li class="dropdown">
                                <a href="">{{ request.user.username }}<i class="fa fa-angle-down"></i></a>
                                <ul role="menu" class="sub-menu">
                                    <li><a href="{% url "user_profile" request.user.id %}">Profile</a></li>
                                    <li><a href="{% url "user_social" request.user.id %}">Network</a></li>
                                    <li><a href="{% url "log-out" %}">Log out</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="dropdown">
                                <a href="{% url 'log-in' %}">Login<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="{% url "log-in" %}">Log In</a></li>
                                        <li><a href="{% url "register" %}">Sign Up</a></li>
                                    </ul>
                            </li>
                        {% endif %}
                        </li>
                    </ul>
                </div>
                <div class="search">
                    <form role="form">
                        <i class="fa fa-search"></i>
                        <div class="field-toggle">
                            <input type="text" class="search-form" autocomplete="off" placeholder="Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
   
    {% endblock %}
    {% block content %}{% endblock %}

    {% block footer %}

        <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center bottom-separator">
                    <img src="{% static "themes/triangle/images/home/under.png" %}" class="img-responsive inline" alt="">
                </div>
                <div class="col-sm-12">
                    <div class="copyright-text text-center">
                        <p>&copy; MM Company 2015. All Rights Reserved.</p>
                        <p>Designed by <a target="_blank" href="http://www.themeum.com">Mytic Moon</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    {% endblock %}
    {% block extrajs %}
    {% endblock %}
</body>
</html>