{% extends "themes/triangle/base.html" %}
{% load staticfiles %}
{% block title %}Story Create | Nigth Fable{% endblock %}

{% block content %}
    <div class="container">
        <div class="contact-form bottom">
            {% include "themes/triangle/notificationpanel.html" %}
            <h2>Create your story</h2>
            <form name="contact-form" method="post" action="{% url 'savestory' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="story_name" class="form-control" required="required" value="" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" id="story_description" name="story_description" class="form-control" required="required" placeholder="Description">
                </div>
                <div class="form-group">
                    <select class="form-control" id="story_genre" name="story_genre" required="required">
                        <option value="">Category</option>
                        <option value="action">Action</option>
                        <option value="adventure">Adventure</option>
                        <option value="fanfiction">Fan Fiction</option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control" id="story_language" name="story_language" required="required">
                        <option value="">Language</option>
                        <option value="english">English</option>
                        <option value="spanish">Spanish</option>
                        <option value="vietnamese">Vietnamese</option>
                    </select>
                </div>

                <div class="form-group">
                    <select class="form-control" id="story_privacy" name="story_privacy" required="required">
                        <option value="">Privacy Level</option>
                        <option value="public">Public (any one can read and edit your story)</option>
                        <option value="partlypublic">Partly Public (any one can read your story)</option>
                        <option value="private">Private (only selected users can read/edit your story) </option>
                    </select>
                </div>
{#                <div class="form-group">#}
{#                    <input type="hidden" id="story_id" name="story_id" class="form-control" required="required" placeholder="Privacy Level">#}
{#                </div>#}
                <div class="form-group">
                    <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
{% endblock %}