{% extends "themes/triangle/base.html" %}
{% load staticfiles %}
{% block title %}WriteStory | NightFable{% endblock %}

{% block content %}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">{{ story.name }}</h1>
                            <p><i>"We are all apprentices in a craft where no one ever becomes a master."</i></p>
                            <p><b>Ernest Hemingway</b></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2">
                        <p><a href="{% url 'viewstory' story.id %}"><i class="fa fa-arrow-left"></i> Back to Story</a></p>
                    </div>
                    <div class="col-sm-8">
                        {% if storychapter.id %}
                            <p><a href="{% url 'chapter_history_noid' story.id %}{{ storychapter.id }}" class="btn btn-md btn-info pull-right">Chapter History</a></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
   </section>
    <section id="services">
        <div class="container">
            <div class="row">

                {% include "themes/triangle/notificationpanel.html" %}

                <form method="post" action="{% url 'savechapter' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="storychapter_title" name="storychapter_title" class="form-control" value="{{ storychapter.title }}" placeholder="Chapter Title">
                    </div>
                    <textarea name="storychapter_content" id="storychapter_content" rows="10" cols="80">
                        {{ storychapter.content }}
                    </textarea>
                    <div class="form-group">
                        <input type="hidden" id="storychapter_id" name="storychapter_id" class="form-control" value="{{ storychapter.id }}">
                    </div>
                    <div class="form-group">
                        <input type="hidden" id="story_id" name="story_id" class="form-control" value="{{ story.id }}">
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" class="btn btn-submit" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

{% block extrajs %}
<script src="//cdn.ckeditor.com/4.4.7/standard/ckeditor.js"></script>
<script>
    $( document ).ready(function() {
        CKEDITOR.replace( 'storychapter_content', {height: '700'}  );
//         CKEDITOR.resize( '100%', '350' );
    });
</script>
{% endblock %}

