{% extends "themes/triangle/base.html" %}
{% load staticfiles %}
{% block title %}Homepage | NightFable{% endblock %}

{% block content %}

    <section id="home-slider">
        <div class="container">
            <div class="row">
                <div class="main-slider">
                    <div class="slide-text">
                        <h1>{{abc}}</h1>
                        <h1>Write Your Own Story</h1>
                        <p>Long before they go to school, before they even know the alphabet, children begin to write. In fact, for most children, literacy begins at home with a crayon. </p>
                        <a href="{% url "register" %}" class="btn btn-common">SIGN UP</a>
                    </div>
                    <img src="static/themes/triangle/images/home/slider/hill.png" class="slider-hill" alt="slider image">
                    <img src="static/themes/triangle/images/home/slider/house.png" class="slider-house" alt="slider image">
                    <img src="static/themes/triangle/images/home/slider/sun.png" class="slider-sun" alt="slider image">
                    <img src="static/themes/triangle/images/home/slider/birds1.png" class="slider-birds1" alt="slider image">
                    <img src="static/themes/triangle/images/home/slider/birds2.png" class="slider-birds2" alt="slider image">
                </div>
            </div>
        </div>
        <div class="preloader"><i class="fa fa-sun-o fa-spin"></i></div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                            <img src="static/themes/triangle/images/home/icon1.png" alt="">
                        </div>
                        <h2>Writing Down the Bones</h2>
                        <p>She shows us how to get out of our “monkey mind” and how to write without the inner critic stopping your from putting down your ideas.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                            <img src="static/themes/triangle/images/home/icon2.png" alt="">
                        </div>
                        <h2>The Artist’s Way</h2>
                        <p>It helps you by making a guarantee with yourself; no matter what, no matter how tired or apathetic I am, I will write 750 words a day.</p>
                    </div>
                </div>
                <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                    <div class="single-service">
                        <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                            <img src="static/themes/triangle/images/home/icon3.png" alt="">
                        </div>
                        <h2>The Courage to Write</h2>
                        <p>Keyes writes about the reasons why we become fearful of writing and it’s no surprise that the fear is something in ourselves rather than something external.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}