{% if error_message %}

    <div class="alert alert-warning fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>{{ error_message }}</h4>
    </div>
{% endif %}
{% if success_message %}
    <div class="alert alert-success fade in">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>{{ success_message }}</h4>
    </div>
{% endif %}