{% extends "themes/triangle/base.html" %}
{% load staticfiles %}
{% load avatar_helper %}
{% load cloudinary %}
{% block title %}Social Graph | NightFable{% endblock %}

{% block content %}
    <div ng-app="myApp" ng-controller="SocialNetworkCtrl">
        <section id="page-breadcrumb">
            <div class="vertical-center sun">
                <div class="container">
                    <div class="row">
                        <div class="action">
                            <div class="col-sm-12">
                                <h1 class="title">Social Graph</h1>

                                <p><i>"There is no greater agony than bearing an untold story inside you."</i></p>

                                <p><b>Maya Angelou</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="portfolio-information" class="padding-top">
            <div class="container">
                <div id="tab-container">
                    <div class="row">
                        <div class="col-md-12">
                            <ul id="tab2" class="nav nav-pills">
                                <li class="active"><a href="#tab2-item1" data-toggle="tab">Following(s)</a></li>
                                <li class=""><a href="#tab2-item2" data-toggle="tab">Follower(s)</a></li>
                                <li class=""><a href="#tab2-item3" data-toggle="tab">Book(s)</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane fade active in" id="tab2-item1">
                                    {% for following in following_list  %}
                                        <div class="row">
                                            <div class="col-md-1 col-xs-1 vcenter">
                                                <a href="{% url 'user_profile' following.id %}">{{ following | avatar_css_sm | safe }}</a>
                                            </div>
                                            <div class="col-md-3 col-xs-3 vcenter" >
                                                <a href="{% url 'user_profile' following.id %}">{{ following.username }}</a>
                                            </div>
                                            <div class="col-md-4 col-xs-4 vcenter">
                                                <button style="display:none;" class="btn btn-default centre-block {{ following.id }}_follow_button" rel="8" ng-click="followUser('{{ following.id }}')">  <i class="fa fa-user-plus"></i> Follow</button>
                                                <button class="btn btn-success centre-block {{ following.id }}_unfollow_button" rel="8" ng-click="unfollowUser('{{ following.id }}')">  <i class="fa fa-user-times"></i> Following</button>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    {% if not following_list %}
                                        <div class="row vcenter">
                                            <h4>You haven't followed any author yet.</h4>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="tab2-item2">
                                    {% for follower in follower_list  %}
                                    <div class="row">
                                        <div class="col-md-1 col-xs-1 vcenter">
                                            <a href="{% url 'user_profile' follower.id %}">{{ follower | avatar_css_sm | safe }}</a>
                                        </div>
                                        <div class="col-md-3 col-xs-3 vcenter" >
                                            <a href="{% url 'user_profile' follower.id %}">{{ follower.username }}</a>
                                        </div>
                                        <div class="col-md-4 col-xs-4 vcenter">
                                            <button style="display:none;" class="btn btn-default centre-block {{ follower.id }}_follow_button" rel="8" ng-click="followUser('{{ follower.id }}')">  <i class="fa fa-user-plus"></i> Follow</button>
                                                <button class="btn btn-success centre-block {{ follower.id }}_unfollow_button" rel="8" ng-click="unfollowUser('{{ follower.id }}')">  <i class="fa fa-user-times"></i> Following</button>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% if not follower_list %}
                                        <div class="row vcenter">
                                            <h4>You haven't had any follower.</h4>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="tab-pane fade" id="tab2-item3">
                                    {% for book in following__book_list  %}
                                    <div class="row">
                                        <div class="col-md-1 col-xs-1 vcenter">
                                            <a href="{% url 'user_profile' book.id %}">{{ book | avatar_css_sm | safe }}</a>
                                        </div>
                                        <div class="col-md-3 col-xs-3 vcenter" >
                                            <a href="{% url 'user_profile' book.id %}">{{ book.username }}</a>
                                        </div>
                                        <div class="col-md-4 col-xs-4 vcenter">
                                            <button class="btn btn-default centre-block" rel="8" ng-click="followUser()">  <i class="fa fa-user-plus"></i> Follow</button>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    {% if not following__book_list %}
                                        <div class="row vcenter">
                                            <h4>You haven't followed any book yet.</h4>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">
        var myApp = angular.module('myApp', ['ui.bootstrap']).config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{$');
            $interpolateProvider.endSymbol('$}');
        });

        myApp.config(['$httpProvider', function ($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);

    function SocialNetworkCtrl($scope, $http, limitToFilter) {
        $scope.user_id = "{{ user.id }}";
        $scope.followUser = function(follower_id) {
                $http({
                    url: '{% url "add_follower_to_user" %}',
                    method: 'POST',
                    data: {idol_id: $scope.user_id, follower_id: follower_id}
                }).then(function(results) {
                    $('.'+follower_id+'_follow_button').hide();
                    $('.'+follower_id+'_unfollow_button').show();
                }).catch(function(e) {
                    alert("error");
                });
            };

            $scope.unfollowUser = function(follower_id) {
                $http({
                    url: '{% url "remove_follower_from_user" %}',
                    method: 'POST',
                    data: {idol_id: $scope.user_id, follower_id: follower_id}
                }).then(function(results) {
                    $('.'+follower_id+'_follow_button').show();
                    $('.'+follower_id+'_unfollow_button').hide();
                }).catch(function(e) {
                    alert("error");
                });
            };
    }
    myApp.controller('SocialNetworkCtrl', SocialNetworkCtrl);
    </script>

{% endblock %}