{% extends "themes/triangle/base.html" %}
{% load staticfiles %}
{% load avatar_helper %}
{% load jsonify %}
{% load cloudinary %}
{% block title %}Story Settings | NightFable{% endblock %}

{% block content %}
    <section id="page-breadcrumb" xmlns="http://www.w3.org/1999/html">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Story Settings</h1>
                            <p><i>"A book is a dream that you hold in your hand."</i></p>
                            <p><b>Neil Gaiman</b></p>
                            <p><a href="{% url 'viewstory' story.id %}"><i class="fa fa-arrow-left"></i> Back to Story</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
    <!--/#action-->

    <section ng-app="myApp" id="portfolio-information" class="padding-top" ng-controller="TypeaheadCtrl">
        <form action="{% url 'add_collaborator' %}" method="POST">
        <div class="container">
            {% include "themes/triangle/notificationpanel.html" %}
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-2">
{#                    <img src="/static/themes/triangle/images/portfolio/1.jpg" class="img-responsive" alt="">img#}
                    <div class="portfolio-single">
                        <div class="portfolio-thumb">
                            <img src="{$ image_url $}" class="img-responsive" alt="">
                        </div>
                        <div class="portfolio-view">
                            <ul class="nav nav-pills">
{#                                <li><a href="portfolio-details.html"><i class="fa fa-link"></i></a></li>#}
                                <li><a data-toggle="modal" data-target="" href="#change_cover"><i class="fa fa-camera"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="project-name overflow">
                        <h2 class="bold">{{ story.name }}</h2>
                        <ul class="nav navbar-nav navbar-default">
                            <li><a href="#"><i class="fa fa-clock-o"></i>February11,2014</a></li>
                            <li><a href="#"><i class="fa fa-tag"></i>Branding</a></li>
                        </ul>
                    </div>
                    <div class="project-info overflow">
                        <h3>Description</h3>
                        <p>{{ story.description }}</p>
                        <ul class="elements">
                            <li><i class="fa fa-angle-right"></i> <label>Genre:</label>  {{ story.genre }}</li>
                            <li><i class="fa fa-angle-right"></i> <label>Privacy:</label>  {{ story.privacy }}</li>
                            <li><i class="fa fa-angle-right"></i> <label>Chapters:</label>  {{ story.chapters| length }} chapter(s)</li>
                        </ul>
                    </div>
                    <div class="skills overflow">
                        <h3>Collaborators:</h3>
                        <table class="table table-hover ">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Rights</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="user in collaboratorList track by $index">
                                    <td>{$ user.username $}</td>
                                    <td>{$ user.email $}</td>
                                    <td>
                                        <select class="form-control" ng-model="collaboratorList[$index].access_right">
                                            <option value="read">Read</option>
                                            <option value="write">Write</option>
                                            <option value="admin">Admin</option>
                                        </select>
                                    </td>
                                    <td>
                                        <a class="btn btn-xs btn-danger" ng-click="removeExistingCollaborator($index)">
                                            Remove
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-repeat="user in newCollaboratorList track by $index">
                                    <td>
                                        <div>
                                            <div>
                                                {% verbatim %}
                                                <input type="text" ng-model="user.username" placeholder="Username or email" typeahead="user.username as user.username for user in getUser($viewValue)" typeahead-loading="loadingLocations" typeahead-template-url="template/customTemplate.html" class="form-control">
                                                {% endverbatim %}
                                                <script type="text/ng-template" id="template/customTemplate.html">
                                                    <a>
                                                        {% verbatim %}
                                                        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
                                                        {% endverbatim %}
                                                    </a>
                                                </script>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td>
                                        <select class="form-control" ng-model="user.access_right">
                                            <option value="read">Read</option>
                                            <option value="write">Write</option>
                                            <option value="admin">Admin</option>
                                        </select>
                                    </td>
                                    <td>
                                        <a class="btn btn-xs btn-danger" ng-click="removeNewCollaborator($index)">
                                            Remove
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a class="btn btn-xs btn-success" ng-click="addNewCollaborator($index)">
                                            + Add New Collaborator
                                        </a>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td><button type="submit" class="btn btn-info">Save</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% verbatim %}
            <div ng-repeat="user in collaboratorList track by $index">
                <input type="hidden" value="{$ user.username $}" name="{$ user.access_right $}" />
            </div>
            <div ng-repeat="user in newCollaboratorList track by $index">
                <input type="hidden" value="{$ user.username $}" name="{$ user.access_right $}" />
            </div>
            {% endverbatim %}
            <input type="hidden" class="form-control" name="story_id" value="{{ story.id }}" />
            {% csrf_token %}
        </div>
        </form>

    <div id="change_cover" class="modal fade" role="dialog" aria-labelledby="myModalLabel">

        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Upload new story cover</h4>
                </div>
                <div class="modal-body">
                    <div class="row centre">
                        <form>
                            {% cloudinary_direct_upload_field  %}
                        </form>
                    </div>

                    <div class="row centre">
                        <div id="imageload" style="margin-bottom: 17px;margin-left: 17px; margin-top: 17px; margin-right: 17px; float:left; display: none;">
                            <img src="{% static "themes/triangle/images/image-loading.gif" %}" alt="loading" />
                        </div>
                    </div>

                    <div class="row centre">
                        <div class="uploaded_info_holder" style =""></div>
                    </div>

                    <div class="centre"><p class="text-warning"><small>* If you don't save, your changes will be lost.</small></p></div>
                </div>
                <div class="modal-footer">
                    <form method="post" action="{% url 'update_story_cover_api' %}">
                        {% csrf_token %}
                        <input type="hidden" id="story_id" ng-value="story_id">
                            <input type="hidden" id="image_id" ng-model="image_id"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="updateStoryCover()">Save changes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </section>
    </br>
    </br>
    </br>
    </br>

{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static "themes/triangle/js/jquery.cloudinary.js" %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.iframe-transport.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js"></script>

    {% cloudinary_js_config %}
    <script type="text/javascript">
    $(document).ready( function(event) {

        $('.cloudinary-fileupload')
            .fileupload({
                start: function (e) {
                    console.log("start");
                    $('#imageload').show();
                    $('.uploaded_info_holder').hide();
                },

                fail: function (e, data) {
                    console.log("Upload failed");
                },
                success: function (data, message) {
                    console.log("Success");
                    $('#imageload').hide();
                    var info = $('<div class="uploaded_info"/>');
                    $(info).append($('<div class="image" style="float:left"/>').append(
                        $.cloudinary.image(data.public_id, {
                            format: data.format, width: 200, height: 200, crop: "fill"
                        })
                    ));
                    $('.uploaded_info_holder').show();
                    $('.uploaded_info_holder').html(info);

                    $('#image_id').val(data.public_id).change();

                    var image_url = get_cloudinary_image_url(data.public_id)
                    var scope = angular.element($("#image_id")).scope();
                    scope.$apply(function(){
                        scope.image_id = data.public_id;
                        scope.uploaded_image_url = image_url;
                    });
                }
            });
    });

    </script>

    <script type="text/javascript">
        var myApp = angular.module('myApp', ['ui.bootstrap']).config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{$');
            $interpolateProvider.endSymbol('$}');
        });

        myApp.config(['$httpProvider', function ($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);

        function TypeaheadCtrl($scope, $http, limitToFilter) {
            $scope.story_id = "{{ story.id }}";
                $scope.image_url = get_cloudinary_image_url("{{ story.cover_cloudinary_id }}");
            $scope.uploaded_image_url = "";

            // Any function returning a promise object can be used to load values asynchronously
            $scope.getUser = function (val) {
                return $http.get('{% url "getuser_by_name_api" %}', {
                    params: {
                        username: val
                    }
                }).then(function (response) {
                    return response.data.data.map(function (item) {
                        return item;
                    });
                });
            };

            //Add collaborators

            $scope.collaboratorList = {{ collaborator_list|jsonify }};

            $scope.newCollaboratorList = [];
            $scope.newCollaborator = {"username": "", access_right: "read"};

            $scope.addNewCollaborator = function () {
                $scope.newCollaboratorList.push({"username": "", "access_right": "read"});
            };

            $scope.removeNewCollaborator = function (val) {
                if (val > -1) {
                    $scope.newCollaboratorList.splice(val, 1);
                }
            };

            $scope.removeExistingCollaborator = function (val) {
                if (val > -1) {
                    $scope.collaboratorList.splice(val, 1);
                }
            };

            $scope.saveCollaborator = function () {
                if ($scope.newCollaborator.username) {
                    $scope.collaboratorList.push({"username": $scope.newCollaborator.username, access_right: $scope.newCollaborator.access_right});
                }

                $http({
                    url: '{% url "add_collaborator" %}',
                    method: 'POST',
                    data: {story_id: $scope.story_id, collaborators: $scope.collaboratorList},
                    headers: {'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'}
                }).then(function (results) {
                }).catch(function (e) {
                });
                $scope.newCollaborator.username = "";
                $scope.newCollaborator.access_right = "read";
                {#            window.location.href = "{% url 'story_settings' story.id %}";#}
            };

            $scope.story_id = "{{ story.id }}";
            $scope.image_id = "";
            $scope.updateStoryCover = function() {
                $http({
                    url: '{% url "update_story_cover_api" %}',
                    method: 'POST',
                    data: {story_id: $scope.story_id, image_id: $scope.image_id}
                }).then(function(results) {
                    {# ajax success #}
                    $scope.image_url = $scope.uploaded_image_url;
                    $scope.upload_image_url = "";
                    $('#change_cover').modal('hide');
                    $('.uploaded_info_holder').html("");
                    alert("success");
                }).catch(function(e) {
                    {# ajax fail #}
                    alert("error");
                });
            };
        }

        myApp.controller('TypeaheadCtrl', TypeaheadCtrl);
    </script>

{% endblock %}





