{% extends "themes/triangle/base.html" %}
{% load staticfiles %}
{% block title %}Sign Up | NightFable{% endblock %}

{% block content %}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Sign up</h1>

                            <p>Sign up to NightFable</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    {% include "themes/triangle/notificationpanel.html" %}
                    <br>
                    <div>
                        <form name="contact-form" method="post" action="{% url 'savestory' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="story_name" class="form-control" required="required" value="" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <input type="email" name="story_name" class="form-control" required="required" value="" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" id="story_description" name="story_description" class="form-control" required="required" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <input type="password" id="story_description" name="story_description" class="form-control" required="required" placeholder="Re-enter Password">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


