{% extends "themes/triangle/base.html" %}
{% load staticfiles %}
{% load avatar_helper %}
{% load cloudinary %}
{% block title %}User Profile | NightFable{% endblock %}

{% block content %}
    <div ng-app="myApp" ng-controller="UserProfileCtrl">
        <section id="page-breadcrumb">
            <div class="vertical-center sun">
                 <div class="container">
                    <div class="row">
                        <div class="action">
                            <div class="col-sm-12">
                                <h1 class="title">User Profile</h1>
                                <p><i>"I try to create sympathy for my characters, then turn the monsters loose."</i></p>
                                <p><b>Stephen King</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </section>
        <!--/#action-->

        <section id="portfolio-information" class="padding-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-2">
                        <div class="portfolio-single">
                            <div ng-if="!image_url" class="portfolio-thumb">
                                {{ user | avatar_css_lg | safe }}
                            </div>
                            <div ng-if="image_url" class="portfolio-thumb">
                                <img src="{$ image_url $}" class="img-responsive" alt="">
                            </div>
                            {% if user.id == request.user.id %}
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a data-toggle="modal" data-target="" href="#change_profile_pic"><i class="fa fa-camera"></i></a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <div class="container centre">
                            {% if request.user.id and request.user.id != user.id %}
{#                                {% if not request.user in user.follower_list %}#}
                                    <button ng-if="!following" class="btn btn-default centre-block" rel="8" ng-click="followUser()">  <i class="fa fa-user-plus"></i> Follow   </button>
{#                                {% else %}#}
                                    <button ng-if="following" class="btn btn-success centre-block" rel="8" ng-click="unfollowUser()">  <i class="fa fa-user-times"></i> Following   </button>
{#                                {% endif %}#}
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="project-name overflow">
                            <h2 class="bold">{{ user.username }}</h2>
                            <ul class="nav navbar-nav navbar-default">
                                <li><a href="#"><i class="fa fa-clock-o"></i>February11,2014</a></li>
                                <li><a href="#"><i class="fa fa-tag"></i>Branding</a></li>
                            </ul>
                        </div>
                        <div class="project-info overflow">
                            <h3>Project Info</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus nibh sed elimttis adipiscing. Fusce in hendrerit purus. Suspendisse potenti. Proin quis eros odio, dapibus dictum mauris. Donec nisi libero, adipiscing id pretium eget, consectetur sit amet leo. Nam at eros quis mi egestas fringilla non nec purus.</p>
                            <ul class="elements">
                                <li><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                                <li><i class="fa fa-angle-right"></i> Donec tincidunt felis quis ipsum porttitor, non rutrum lorem rhoncus.</li>
                                <li><i class="fa fa-angle-right"></i> Nam in quam consectetur nulla placerat dapibus ut ut nunc.</li>
                            </ul>
                        </div>
                        <div class="skills overflow">
                            <h3>Skills:</h3>
                            <ul class="nav navbar-nav navbar-default">
                                <li><a href="#"><i class="fa fa-check-square"></i>Design</a></li>
                                <li><a href="#"><i class="fa fa-check-square"></i>HTML/CSS</a></li>
                                <li><a href="#"><i class="fa fa-check-square"></i>Javascript</a></li>
                                <li><a href="#"><i class="fa fa-check-square"></i>Backend</a></li>
                            </ul>
                        </div>
                        <div class="client overflow">
                            <h3>Client:</h3>
                            <ul class="nav navbar-nav navbar-default">
                                <li><a href="#"><i class="fa fa-bolt"></i>Okler Themes</a></li>
                            </ul>
                        </div>
                        <div class="live-preview">
                            <a href="#" class="btn btn-common uppercase">Live preview</a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="change_profile_pic" class="modal fade" role="dialog" aria-labelledby="myModalLabel">

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Upload new profile picture</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row centre">
                                <form>
                                    {% cloudinary_direct_upload_field  %}
                                </form>
                            </div>
                            <div class="row centre">
                                <div id="imageload" style="margin-bottom: 17px;margin-left: 17px; margin-top: 17px; margin-right: 17px; float:left; display: none;">
                                    <img src="{% static "themes/triangle/images/image-loading.gif" %}" alt="loading" />
                                </div>
                            </div>
                            <div class="row centre">
                                <div class="uploaded_info_holder" style =""></div>
                            </div>

                            <div class="centre"><p class="text-warning"><small>* If you don't save, your changes will be lost.</small></p></div>
                        </div>
                        <div class="modal-footer">
                            <form method="post" action="{% url 'update_story_cover_api' %}">
                                {% csrf_token %}
                                <input type="hidden" id="story_id" ng-value="story_id">
                                    <input type="hidden" id="image_id" ng-model="image_id"/>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" ng-click="updateStoryCover()">Save changes</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
         <!--/#portfolio-information-->

        <section id="related-work" class="padding-top padding-bottom">
            <div class="container">
                <div class="row">
                    <h1 class="title text-center">His Books</h1>
                    <div class="col-sm-3">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{% static "themes/triangle/images/portfolio/1.jpg" %}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="images/portfolio/1.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{% static "themes/triangle/images/portfolio/2.jpg" %}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="images/portfolio/2.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{% static "themes/triangle/images/portfolio/3.jpg" %}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="images/portfolio/3.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="portfolio-wrapper">
                            <div class="portfolio-single">
                                <div class="portfolio-thumb">
                                    <img src="{% static "themes/triangle/images/portfolio/4.jpg" %}" class="img-responsive" alt="">
                                </div>
                                <div class="portfolio-view">
                                    <ul class="nav nav-pills">
                                        <li><a href="images/portfolio/4.jpg" data-lightbox="example-set"><i class="fa fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="portfolio-info ">
                                <h2>Sailing Vivamus</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block extrajs %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.1/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static "themes/triangle/js/jquery.cloudinary.js" %}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.iframe-transport.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.5.7/jquery.fileupload.js"></script>

    {% cloudinary_js_config %}
    <script type="text/javascript">
    $(document).ready( function(event) {

        $('.cloudinary-fileupload')
            .fileupload({
                start: function (e) {
                    console.log("start");
                    $('#imageload').show();
                    $('.uploaded_info_holder').hide();
                },

                fail: function (e, data) {
                    console.log("Upload failed");
                },
                success: function (data, message) {
                    console.log("Success");
                    $('#imageload').hide();
                    var info = $('<div class="uploaded_info"/>');
                    $(info).append($('<div class="image" style="float:left"/>').append(
                        $.cloudinary.image(data.public_id, {
                            format: data.format, width: 200, height: 200, crop: "fill"
                        })
                    ));
                    $('.uploaded_info_holder').show();
                    $('.uploaded_info_holder').html(info);

                    $('#image_id').val(data.public_id).change();

                    var image_url = get_cloudinary_image_url(data.public_id)
                    var scope = angular.element($("#image_id")).scope();
                    scope.$apply(function(){
                        scope.image_id = data.public_id;
                        scope.uploaded_image_url = image_url;
                    });
                }
            });
    });

    </script>

    <script type="text/javascript">
        var myApp = angular.module('myApp', ['ui.bootstrap']).config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{$');
            $interpolateProvider.endSymbol('$}');
        });

        myApp.config(['$httpProvider', function ($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);

        function UserProfileCtrl($scope, $http, limitToFilter) {
            $scope.user_id = "{{ user.id }}";
            $scope.follower_id = "{{ request.user.id }}";
            $scope.image_url = get_cloudinary_profile_pic("{{ user.profile_pic_cloudinary_id }}");
            $scope.uploaded_image_url = "";
            $scope.following = "{{ following }}";

            // Any function returning a promise object can be used to load values asynchronously
            $scope.getUser = function (val) {
                return $http.get('{% url "getuser_by_name_api" %}', {
                    params: {
                        username: val
                    }
                }).then(function (response) {
                    return response.data.data.map(function (item) {
                        return item;
                    });
                });
            };

            $scope.image_id = "";
            $scope.updateStoryCover = function() {
                $http({
                    url: '{% url "update_user_profile_pic_api" %}',
                    method: 'POST',
                    data: {user_id: $scope.user_id, image_id: $scope.image_id}
                }).then(function(results) {
                    {# ajax success #}
                    $scope.image_url = $scope.uploaded_image_url;
                    $scope.upload_image_url = "";
                    $('#change_profile_pic').modal('hide');
                    $('.uploaded_info_holder').html("");
                    alert("success");
                }).catch(function(e) {
                    {# ajax fail #}
                    alert("error");
                });
            };

            $scope.followUser = function() {
                $http({
                    url: '{% url "add_follower_to_user" %}',
                    method: 'POST',
                    data: {idol_id: $scope.user_id, follower_id: $scope.follower_id}
                }).then(function(results) {
                    $scope.following = true;
                }).catch(function(e) {
                    alert("error");
                });
            };

            $scope.unfollowUser = function() {
                $http({
                    url: '{% url "remove_follower_from_user" %}',
                    method: 'POST',
                    data: {idol_id: $scope.user_id, follower_id: $scope.follower_id}
                }).then(function(results) {
                    $scope.following = false;
                }).catch(function(e) {
                    alert("error");
                });
            };
        }

        myApp.controller('UserProfileCtrl', UserProfileCtrl);
    </script>

{% endblock %}


