{% extends "themes/triangle/base.html" %}
{% load staticfiles %}
{% load jsonify %}
{% block title %}Stories | Nigth Fable{% endblock %}

{% block content %}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
            <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Stories</h1>

                            <p><i>"It’s none of their business that you have to learn to write. Let them think you were born that way."</i></p>
                            <p><b>Ernest Hemingway</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#action-->

    <section id="blog" class="padding-top">
        <div class="container">
            <div class="row">
                {% include "themes/triangle/notificationpanel.html" %}
                <form action="{% url 'storycreateoredit' %}">
                    <input type="submit" type="button" class="btn btn-lg btn-info spacer10"
                           style="margin-bottom:20px;margin-left:10px;" value="+Create Story">
                </form>
            </div>
            <div class="row">
                <div class="col-md-9 col-sm-7">
                    <div class="row">
                        <div ng-app="myApp">
                            {% verbatim %}
                            <div class="row">
                                <div ng-controller="MyController" class="my-controller">
                                    <div class="row">
                                        <!--<h3>Chapter page: {{ currentPage }}</h3>-->

                                        <div class="col-xs-1">
                                            <label for="search">Search:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            <input ng-model="q" id="search" class="form-control"
                                                   placeholder="Filter text">
                                        </div>
                                        <div class="col-xs-2">
                                            <label for="search">Items per page:</label>
                                        </div>
                                        <div class="col-xs-2">
                                            <input type="number" min="1" max="100"
                                                   class="form-control" ng-model="pageSize">
                                        </div>
                                    </div>
                                    <br>

                                    <div class="panel panel-default">
                                        <div class="panel-body">

                                            <div dir-paginate="story in stories | filter:q | itemsPerPage: pageSize" current-page="currentPage">
                                                <div class="col-md-6 col-sm-12 blog-padding-right">
                                                    {% endverbatim %}
                                                    <div class="single-blog two-column" background="{% static "themes/triangle/images/story/blog-arrow.png" %}">
                                                    <div class="post-thumb">
                                                        <a href="{% url 'viewstorynoid' %}{% verbatim %}{{ story.id }}{% endverbatim %}"><img src="{% verbatim %} {{ story.image_url }} {% endverbatim %}" class="img-responsive" alt=""></a>

                                                        <div class="post-overlay">
                                                            <span class="uppercase"><a href="#">14 <br>
                                                                <small>Feb</small>
                                                            </a></span>
                                                        </div>
                                                    </div>
                                                    <div class="post-content overflow">
                                                        {% verbatim %}
                                                        <h2 class="post-title bold"><a href="blogdetails.html">{{ story.name }}</a></h2>

                                                        <h3 class="post-author"><a href="#">Posted by micron News</a></h3>

                                                        <p style="min-height: 100px;max-height: 100px;">{{ story.description }}</p>
                                                        <a href="#" class="read-more">View More</a>

                                                        <div class="post-bottom overflow">
                                                            <ul class="nav nav-justified post-nav">
                                                                <li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>
                                                                <li><a href="#"><i class="fa fa-heart"></i>32 Love</a></li>
                                                                <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div ng-controller="OtherController" class="other-controller">
                                    <div class="text-center">
                                        {% endverbatim %}
                                        <dir-pagination-controls boundary-links="true"
                                                                 on-page-change="pageChangeHandler(newPageNumber)"
                                                                 template-url="{% static "themes/triangle/angulartemplate/dirPagination.tpl.html" %}">
                                        </dir-pagination-controls>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">
                    <div class="sidebar-item  recent">
                        <h3>Comments</h3>

                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img
                                        src={% static "themes/triangle/images/portfolio/project1.jpg" %} alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a>
                                </h4>

                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img
                                        src="{% static "themes/triangle/images/portfolio/project2.jpg" %}"
                                        alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a>
                                </h4>

                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <a href="#"><img
                                        src="{% static "themes/triangle/images/portfolio/project3.jpg" %}"
                                        alt=""></a>
                            </div>
                            <div class="media-body">
                                <h4><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit,</a>
                                </h4>

                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-item categories">
                        <h3>Categories</h3>
                        <ul class="nav navbar-stacked">
                            <li><a href="#">Lorem ipsum<span class="pull-right">(1)</span></a></li>
                            <li class="active"><a href="#">Dolor sit amet<span class="pull-right">(8)</span></a>
                            </li>
                            <li><a href="#">Adipisicing elit<span class="pull-right">(4)</span></a></li>
                            <li><a href="#">Sed do<span class="pull-right">(9)</span></a></li>
                            <li><a href="#">Eiusmod<span class="pull-right">(3)</span></a></li>
                            <li><a href="#">Mockup<span class="pull-right">(4)</span></a></li>
                            <li><a href="#">Ut enim ad minim <span class="pull-right">(2)</span></a></li>
                            <li><a href="#">Veniam, quis nostrud <span class="pull-right">(8)</span></a></li>
                        </ul>
                    </div>
                    <div class="sidebar-item tag-cloud">
                        <h3>Tag Cloud</h3>
                        <ul class="nav nav-pills">
                            <li><a href="#">Corporate</a></li>
                            <li><a href="#">Joomla</a></li>
                            <li><a href="#">Abstract</a></li>
                            <li><a href="#">Creative</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Product</a></li>
                        </ul>
                    </div>
                    <div class="sidebar-item popular">
                        <h3>Latest Stories</h3>
                        <ul class="gallery">
                            <li><a href="#"><img
                                    src="{% static "themes/triangle/images/portfolio/popular1.jpg" %}"
                                    alt=""></a></li>
                            <li><a href="#"><img
                                    src="{% static "themes/triangle/images/portfolio/popular2.jpg" %}"
                                    alt=""></a></li>
                            <li><a href="#"><img
                                    src="{% static "themes/triangle/images/portfolio/popular3.jpg" %}"
                                    alt=""></a></li>
                            <li><a href="#"><img
                                    src="{% static "themes/triangle/images/portfolio/popular2.jpg" %}"
                                    alt=""></a></li>
                            <li><a href="#"><img
                                    src="{% static "themes/triangle/images/portfolio/popular5.jpg" %}"
                                    alt=""></a></li>
                            <li><a href="#"><img
                                    src="{% static "themes/triangle/images/portfolio/popular1.jpg" %}"
                                    alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}


{% block extrajs %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine.js"></script>
    <script type="text/javascript" src="{% static "themes/triangle/js/dirpagination.js" %}"></script>
{#    <script type="text/javascript" src="{% static "themes/triangle/js/dirpagination.spec.js" %}"></script>#}
    <script type="text/javascript">
        // Code goes here

        var myApp = angular.module('myApp', ['angularUtils.directives.dirPagination']);

        function MyController($scope) {

            $scope.currentPage = 1;
            $scope.pageSize = 10;
            $scope.stories = {{ storyList|jsonify }};

            $scope.pageChangeHandler = function (num) {
                console.log('chapters page changed to ' + num);
            };
        }

        function OtherController($scope) {
            $scope.pageChangeHandler = function (num) {
                console.log('going to page ' + num);
            };
        }

        myApp.controller('MyController', MyController);
        myApp.controller('OtherController', OtherController);
    </script>
{% endblock %}