{% extends "themes/triangle/base.html" %}
{% load staticfiles %}
{% block title %}Read Story | NightFable{% endblock %}

{% block content %}
    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">{{ story.name }}</h1>
                            <p><a href="{% url 'viewstory' story.id %}"><i class="fa fa-arrow-left"></i> Back to Story</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>

    <section id="services">
        <div class="container">
            <div style="font-family:sans-serif, Arial, Verdana" class="row">
                {% include "themes/triangle/notificationpanel.html" %}
                <div class="col-sm-1">
                </div>
                <div style="font-size: 18px;" class="col-sm-10">
                    <h3><label>{{ storychapter.title }}</label></h3><br/>
                    {% autoescape off %}{{ storychapter.content }}{% endautoescape %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}