{% extends "themes/triangle/base.html" %}
{% load staticfiles %}
{% load jsonify %}
{% load avatar_helper %}
{% block title %}View Story | Night Fable{% endblock %}

{% block content %}
<section id="page-breadcrumb">
    <div class="vertical-center sun">
        <div class="container">
            <div class="row">
                <div class="action">
                    <div class="col-sm-12">
                        <h1 class="title">{{ story.name }}</h1>
                        <p><i>"A blank piece of paper is God’s way of telling us how hard it to be God."</I></p>
                        <p><b>Sidney Sheldon</b></p>
                        <p><a href="{% url 'storypage' %}"><i class="fa fa-arrow-left"></i> Back to Story List</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#page-breadcrumb-->

<section id="blog-details" class="padding-top">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-7">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        {% include "themes/triangle/notificationpanel.html" %}
                        {% if story %}
                        <div class="single-blog blog-details two-column">
                            <div class="post-thumb">
                                <a href="#"><img src="{{ story.image_url }}"
                                    class="img-responsive" alt=""></a>

                                <div class="post-overlay">
                                        <span class="uppercase"><a href="#">14 <br>
                                            <small>Feb</small>
                                        </a></span>
                                </div>
                            </div>

                            <div class="post-content overflow">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <div class="row">
                                                <a data-toggle="collapse" data-parent="#accordion"
                                                   href="#storydescription">
                                                    Story's Description <small>(click to expand)</small>
                                                </a>
                                                <a class="btn btn btn-info pull-right"
                                                           href="{% url 'story_settings' story.id %}"> <i class="fa fa-cog"></i> Settings</a>
                                            </div>
                                        </h4>
                                    </div>
                                    <div id="storydescription" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <p>{{ story.description }}</p>
                                        </div>
                                    </div>

                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <div class="row">
                                                    <p>Chapters</p>
                                                    <a class="btn btn btn-info pull-right"
                                                       href="{% url 'editchapternoid' story.id %}"><i class="fa fa-book"></i> Create Chapter</a>
                                            </div>
                                        </h4>
                                    </div>
                                    <br/>

                                    <div ng-app="myApp">
                                        {% verbatim %}
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    <div ng-controller="MyController" class="my-controller">
                                                        <div class="row">
                                                            <!--<h3>Chapter page: {{ currentPage }}</h3>-->

                                                            <div class="col-xs-1">
                                                                <label for="search">Search:</label>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <input ng-model="q" id="search" class="form-control"
                                                                       placeholder="Filter text">
                                                            </div>
                                                            <div class="col-xs-2">
                                                                <label for="search">Items per page:</label>
                                                            </div>
                                                            <div class="col-xs-2">
                                                                <input type="number" min="1" max="100"
                                                                       class="form-control" ng-model="pageSize">
                                                            </div>
                                                        </div>
                                                        <br>

                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <table class="table table-hover table-striped">

                                                                    <tr dir-paginate="story in meals | filter:q | itemsPerPage: pageSize"
                                                                        current-page="currentPage">
                                                                        {% endverbatim %}
                                                                        <td>
                                                                            <div class="row">
                                                                                <div class="col-lg-6">
                                                                                    <a href="{% url 'viewchapternoid' story.id  %}{% verbatim %}{{ story['id'] }}">{{ story["title"] }}</a>
                                                                                </div>
                                                                                {% endverbatim %}
                                                                                <div class="col-lg-4">
                                                                                    <a class="btn btn btn-warning pull-right"  href="{% url 'editchapternoid' story.id  %}{% verbatim %}{{ story['id'] }}">Edit</a>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                    </tr>

                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div ng-controller="OtherController" class="other-controller">
                                                        <div class="text-center">
                                                            {% endverbatim %}
                                                            <dir-pagination-controls boundary-links="true"
                                                                                     on-page-change="pageChangeHandler(newPageNumber)"
                                                                                     template-url="{% static "themes/triangle/angulartemplate/dirPagination.tpl.html" %}">
                                                            </dir-pagination-controls>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="post-bottom overflow">
                                        <ul class="nav navbar-nav post-nav">
                                            <li><a href="#"><i class="fa fa-tag"></i>Creative</a></li>
                                            <li><a href="#"><i class="fa fa-heart"></i>32 Love</a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i>3 Comments</a></li>
                                        </ul>
                                    </div>
                                    <div class="blog-share">
                                        <span class='st_facebook_hcount'></span>
                                        <span class='st_twitter_hcount'></span>
                                        <span class='st_linkedin_hcount'></span>
                                        <span class='st_pinterest_hcount'></span>
                                        <span class='st_email_hcount'></span>
                                    </div>

                                    <div class="response-area">
                                        <h2 class="bold">Comments</h2>
                                        <ul class="media-list">
                                            <li class="media">
                                                <div class="post-comment">
                                                    <a class="pull-left" href="#">
                                                        <img class="media-object"
                                                             src="{% static "themes/triangle/images/profile_pic/2.png" %}"
                                                        alt="">
                                                    </a>

                                                    <div class="media-body">
                                                            <span><i class="fa fa-user"></i>Posted by <a
                                                                    href="#">Endure</a></span>

                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                            sed do eiusmod tempor incididunt ut labore et dolore
                                                            magna aliq Ut enim ad minim veniam, quis nostrud
                                                            exercitation ullamco laboris nisi.</p>
                                                        <ul class="nav navbar-nav post-nav">
                                                            <li><a href="#"><i class="fa fa-clock-o"></i>February
                                                                11,2014</a></li>
                                                            <li><a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="parrent">
                                                    <ul class="media-list">
                                                        <li class="post-comment reply">
                                                            <a class="pull-left" href="#">
                                                                <img class="media-object"
                                                                     src="{% static "themes/triangle/images/profile_pic/3.png" %}"
                                                                alt="">
                                                            </a>

                                                            <div class="media-body">
                                                                    <span><i class="fa fa-user"></i>Posted by <a
                                                                            href="#">Endure</a></span>

                                                                <p>Lorem ipsum dolor sit amet, consectetur
                                                                    adipisicing elit, sed do eiusmod tempor
                                                                    incididunt ut </p>
                                                                <ul class="nav navbar-nav post-nav">
                                                                    <li><a href="#"><i class="fa fa-clock-o"></i>February
                                                                        11,2014</a></li>
                                                                </ul>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="media">
                                                <div class="post-comment">
                                                    <a class="pull-left" href="#">
                                                        <img class="media-object"
                                                             src="{% static "themes/triangle/images/profile_pic/4.png" %}"
                                                        alt="">
                                                    </a>

                                                    <div class="media-body">
                                                            <span><i class="fa fa-user"></i>Posted by <a
                                                                    href="#">Endure</a></span>

                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                            sed do eiusmod tempor incididunt ut labore et dolore
                                                            magna aliq Ut enim ad minim veniam, quis nostrud
                                                            exercitation ullamco laboris nisi.</p>
                                                        <ul class="nav navbar-nav post-nav">
                                                            <li><a href="#"><i class="fa fa-clock-o"></i>February
                                                                11,2014</a></li>
                                                            <li><a href="#"><i class="fa fa-reply"></i>Reply</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>

                                        </ul>
                                    </div>
                                    <!--/Response-area-->
                                </div>
                            </div>
                            {% else %}
                            <div class="post-content overflow">
                                <h2 class="post-title bold"><a href="#">There Is No Such Story</a></h2>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-5">
                <div class="sidebar blog-sidebar">
                    <div class="sidebar-item  recent">
                        <h3>Author</h3>

                        <div class="media">
                            <div class="pull-left">
{#                                <a href="#"><img src="{% static "themes/triangle/images/profile_pic/2.jpg" %}" alt=""></a>#}
                                <a href="{% url 'user_profile' story.owner.id %}">{{ story.owner | avatar_css_md | safe }}</a>
                            </div>
                            <div class="media-body">
                                <h4><a href="{% url 'user_profile' story.owner.id %}">{{ story.owner.username }}</a></h4>

                                <p>posted on 07 March 2014</p>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-item categories">
                        <h3>His books</h3>
                        <ul class="nav navbar-stacked">
                            <li><a href="#">Lorem ipsum<span class="pull-right">(1)</span></a></li>
                            <li class="active"><a href="#">Dolor sit amet<span class="pull-right">(8)</span></a>
                            </li>
                            <li><a href="#">Adipisicing elit<span class="pull-right">(4)</span></a></li>
                            <li><a href="#">Sed do<span class="pull-right">(9)</span></a></li>
                            <li><a href="#">Eiusmod<span class="pull-right">(3)</span></a></li>
                            <li><a href="#">Mockup<span class="pull-right">(4)</span></a></li>
                            <li><a href="#">Ut enim ad minim <span class="pull-right">(2)</span></a></li>
                            <li><a href="#">Veniam, quis nostrud <span class="pull-right">(8)</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script type="text/javascript" src="{% static "themes/triangle/js/dirpagination.js" %}"></script>
{#<script type="text/javascript" src="{% static "themes/triangle/js/dirpagination.spec.js" %}"></script>#}
<script type="text/javascript">
    var myApp = angular.module('myApp', ['angularUtils.directives.dirPagination']);

    function MyController($scope) {
        $scope.currentPage = 1;
        $scope.pageSize = 10;
        $scope.meals = [];
        $scope.meals = {{ chapterList|jsonify }};

    $scope.pageChangeHandler = function (num) {
        console.log('chapters page changed to ' + num);
    };
    }

    function OtherController($scope) {
        $scope.pageChangeHandler = function (num) {
            console.log('going to page ' + num);
        };
    }

    myApp.controller('MyController', MyController);
    myApp.controller('OtherController', OtherController);
</script>
{% endblock %}