{#{% load typogrify %}#}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}{% endblock %} | {{ SITE_INFO_TITLE }}</title>
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/default/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/default/css/pygments.css" />
        <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}themes/default/css/grey-theme.css" />
        <link rel="alternate" type="application/rss+xml" title="Mumblr (RSS 2.0)" href="/feeds/rss/" />
        <link rel="alternate" type="application/atom+xml" title="Mumblr (Atom 1.0)" href="/feeds/atom/" />
        <script type="text/javascript" src="{{ MEDIA_URL }}themes/default/js/jquery.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}themes/default/js/jquery.scrollfollow.js"></script>
        <script type="text/javascript" src="{{ MEDIA_URL }}themes/default/js/mumblr.js"></script>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div class="container">
        <div class="pagehead" id="pagehead">
            <div class="content">

            <div class="left-column">

                <div class="fold-box">
                    <span class="fold"></span>
                    <div class="fold-box-padder">
{#                        <h1><a href="{% url recent-entries %}">{{ SITE_INFO_TITLE }}</a></h1>#}
                        <h4 class="author">{{ SITE_INFO_DESC }}</h4>
                    </div>
                </div>

                <div class="fold-box">
                    <span class="fold"></span>
                    <div class="fold-box-padder">
{#                        <h4><a href="{% url recent-entries %}">Recent Entries</a></h4>#}
{#                        <h4><a href="{% url archive %}">Archive</a></h4>#}
{#                        <h4><a href="{% url tag-cloud %}">Tag Cloud</a></h4>#}
                        <div class="hr-styled-inverted"></div>
                        <h4><a href="/feeds/rss">RSS</a>/<a href="/feeds/atom">Atom</a></h4>
                    </div>
                </div>

                {% if user.is_authenticated %}
                <div class="fold-box" id="admin-box">
                    <span class="fold"></span>
                    <div class="fold-box-padder">
                        <h4>
                        {% if user.get_full_name %}
                            {{ user.get_full_name }} 
                        {% else %}
                            {{ user.email }}
                        {% endif %}
                        </h4>
                        <ul class="inline">
{#                            <li><a class="mbl-button" href="{% url admin %}">Admin</a></li>#}
                            <li><a class="mbl-button mbl-button-primary" href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div> <!-- /left-column -->

            {% block content %}{% endblock %}

            </div> <!-- /content-->
        </div> <!-- /pagehead -->
        </div> <!-- /container -->

        <div class="footer">
            <div class="container">
            {% if not user.is_authenticated %}
                <div class="login">
                <p><a class="mbl-button mbl-button-primary" href="{% url 'log-in' %}">Log in</a></p>
                </div>
            {% endif %}
            <div class="content">
            <p>Mumblr is a basic <a href="http://www.djangoproject.com/">Django</a> tumblelog application that uses <a href="http://www.mongodb.org">MongoDB</a> with <a href="http://github.com/hmarr/mongoengine">MongoEngine</a>. Fork it on <a href="http://github.com/hmarr/django-mumblr">Github</a>. Designed and developed by <a href="http://hmarr.com">Harry Marr</a> and <a href="http://stevechallis.com">Steve Challis</a>.</p>
            </div>
            </div>
        </div> <!-- /footer -->

    </body>
</html>
