{% extends "themes/triangle/base.html" %}

{% block title %}Night Fable{% endblock %}

{% block content %}
    <section id="services">
        <div class="container">
            <div class="row">
                <h2>Log In</h2>
                <div class="clear"></div>
                <form action="" method="post">
                    {% csrf_token %}
                        <table>
                        {{ form }}
                        <tr>
                            <th></th><td><input type="submit" value="Log in" /></td>
                    </table>
                    <input type="hidden" id="next" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    </section>
{% endblock %}
