{% load staticfiles %}
<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Vancouver | A WordPress Theme for Creatives and Bloggers</title>
	<link rel="profile" href="http://gmpg.org/xfn/11" />
			<link rel="shortcut icon" href="http://pencidesign.com/vancouver/wp-content/uploads/2015/07/favicon.png" />
		<link rel="alternate" type="application/rss+xml" title="Vancouver RSS Feed" href="http://pencidesign.com/vancouver/feed/" />
	<link rel="alternate" type="application/atom+xml" title="Vancouver Atom Feed" href="http://pencidesign.com/vancouver/feed/atom/" />
	<link rel="pingback" href="http://pencidesign.com/vancouver/xmlrpc.php" />
	<!--[if lt IE 9]>
	<script src="http://pencidesign.com/vancouver/wp-content/themes/vancouver/js/html5.js"></script>
	<style type="text/css">
		.featured-carousel .item { opacity: 1; }
	</style>
	<![endif]-->
	<link rel="alternate" type="application/rss+xml" title="Vancouver &raquo; Feed" href="http://pencidesign.com/vancouver/feed/" />
<link rel="alternate" type="application/rss+xml" title="Vancouver &raquo; Comments Feed" href="http://pencidesign.com/vancouver/comments/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"http:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/pencidesign.com\/vancouver\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.2.4"}};
			!function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='contact-form-7-css'  href='http://pencidesign.com/vancouver/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.2.2' type='text/css' media='all' />
<link rel='stylesheet' id='mailchimp-for-wp-checkbox-css'  href='http://pencidesign.com/vancouver/wp-content/plugins/mailchimp-for-wp/assets/css/checkbox.min.css?ver=2.3.7' type='text/css' media='all' />
{#<link rel='stylesheet' id='penci_style-css'  href='http://pencidesign.com/vancouver/wp-content/themes/vancouver/style.css?ver=4.2.4' type='text/css' media='all' />#}
<link rel='stylesheet' id='penci_style-css'  href='{% static "themes/vancouver/css/style.css" %}' type='text/css' media='all' />
<link rel='stylesheet' id='instag-slider-css'  href='http://pencidesign.com/vancouver/wp-content/plugins/instagram-slider-widget/assets/css/instag-slider.css?ver=1.3.0' type='text/css' media='all' />
<link rel='stylesheet' id='mailchimp-for-wp-form-css'  href='http://pencidesign.com/vancouver/wp-content/plugins/mailchimp-for-wp/assets/css/form.min.css?ver=2.3.7' type='text/css' media='all' />
<script type='text/javascript' src='http://pencidesign.com/vancouver/wp-includes/js/jquery/jquery.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://pencidesign.com/vancouver/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://pencidesign.com/vancouver/wp-content/plugins/instagram-slider-widget/assets/js/jquery.flexslider-min.js?ver=2.2'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://pencidesign.com/vancouver/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://pencidesign.com/vancouver/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 4.2.4" />
    <style type="text/css">
								#header .inner-header .container { padding:40px 0; }
																																																								.featured-overlay-color, .penci-slider ul.slides li:after { opacity: ; }
		.featured-overlay-partent, .penci-slider ul.slides li:before { opacity: ; }
																				.featured-area .penci-slider { max-height: 600px; }
																																																																																								    </style>
    <style type="text/css">.mc4wp-form input[name="_mc4wp_required_but_not_really"] { display: none !important; }</style><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-65914120-1', 'auto');
  ga('send', 'pageview');

</script>
{% block extrahead %}{% endblock %}
</head>

{% block content %}{% endblock %}

{% block footer %}
<footer id="footer-copyright">
	<div class="container">
					@ 2015 PenciDesign. All Rights Reserved.							<a href="#" class="go-to-top"><i class="fa fa-angle-double-up"></i></a>
			</div>
</footer>

<div id="fb-root"></div>
<script>(function ( d, s, id ) {
		var js, fjs = d.getElementsByTagName( s )[0];
		if ( d.getElementById( id ) ) return;
		js = d.createElement( s );
		js.id = id;
		js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.3";
		fjs.parentNode.insertBefore( js, fjs );
	}( document, 'script', 'facebook-jssdk' ));
</script>
<script type='text/javascript' src='http://pencidesign.com/vancouver/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>

<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/pencidesign.com\/vancouver\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ...","cached":"1"};
/* ]]> */
</script>
<script type='text/javascript' src='http://pencidesign.com/vancouver/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.2.2'></script>
<script type='text/javascript' src='http://pencidesign.com/vancouver/wp-content/themes/vancouver/js/libs-script.min.js?ver=1.0'></script>
<script type='text/javascript' src='http://pencidesign.com/vancouver/wp-content/themes/vancouver/js/main.js?ver=1.0'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var ajax_var = {"url":"http:\/\/pencidesign.com\/vancouver\/wp-admin\/admin-ajax.php","nonce":"53a3d2e44a"};
/* ]]> */
</script>
<script type='text/javascript' src='http://pencidesign.com/vancouver/wp-content/themes/vancouver/js/post-like.js?ver=1.0'></script>
<script type="text/javascript">
			(function() {
				function addSubmittedClassToFormContainer(e) {
					var form = e.target.form.parentNode;
					var className = 'mc4wp-form-submitted';
					(form.classList) ? form.classList.add(className) : form.className += ' ' + className;
				}

				function hideHoneypot(h) {
					var n = document.createElement('input');
					n.type = 'hidden';
					n.name = h.name;
					n.style.display = 'none';
					n.value = h.value;
					h.parentNode.replaceChild(n,h);
				}

				var forms = document.querySelectorAll('.mc4wp-form');
				for (var i = 0; i < forms.length; i++) {
					(function(f) {

						/* make sure honeypot is hidden */
						var h = f.querySelector('input[name="_mc4wp_required_but_not_really"]');
						if(h) {
							hideHoneypot(h);
						}

						/* add class on submit */
						var b = f.querySelector('[type="submit"]');
						if(b.addEventListener) {
							b.addEventListener('click', addSubmittedClassToFormContainer);
						} else {
							b.attachEvent('click', addSubmittedClassToFormContainer);
						}

					})(forms[i]);
				}
			})();

					</script>
    {% endblock %}
    {% block extrajs %}
    {% endblock %}

</html>
<!-- Performance optimized by W3 Total Cache. Learn more: http://www.w3-edge.com/wordpress-plugins/

Page Caching using disk: enhanced
Database Caching 40/53 queries in 0.016 seconds using disk

 Served from: pencidesign.com @ 2015-08-23 15:28:01 by W3 Total Cache -->