{% extends "themes/vancouver/base.html" %}
{% load staticfiles %}

{% block content %}
    <body class="home blog">
    <a id="close-sidebar-nav" class="header-2"><i class="fa fa-close"></i></a>

    <nav id="sidebar-nav" class="header-2">

        <div id="sidebar-nav-logo">
            <a href="http://pencidesign.com/vancouver/"><img src="http://pencidesign.com/vancouver/wp-content/themes/vancouver/images/logo-mobile-nav.png" alt="Vancouver"/></a>
        </div>

        <div class="header-social sidebar-nav-social">
            <div class="inner-header-social">
                <a href="http://facebook.com/PenciDesign" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="http://twitter.com/#" target="_blank"><i class="fa fa-twitter"></i></a>
                <a href="http://plus.google.com/#" target="_blank"><i class="fa fa-google-plus"></i></a>
                <a href="http://instagram.com/#" target="_blank"><i class="fa fa-instagram"></i></a>
                <a href="http://pinterest.com/#" target="_blank"><i class="fa fa-pinterest"></i></a>
                <a href="http://tumblr.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a>
                <a href="#" target="_blank"><i class="fa fa-rss"></i></a>
            </div>
        </div>

        <ul id="menu-menu-1" class="menu">
            <li id="menu-item-43" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-43"><a
                    href="http://pencidesign.com/vancouver/">Home</a>
                <ul class="sub-menu">
                    <li id="menu-item-492" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-492"><a href="#">Home with orther Slider</a>
                        <ul class="sub-menu">
                            <li id="menu-item-227" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-227"><a href="http://pencidesign.com/vancouver/?demo=slider-1">Home with
                                Slider 2</a></li>
                            <li id="menu-item-493" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-493"><a href="http://pencidesign.com/vancouver/?demo=slider-3">Home with
                                Slider 3</a></li>
                            <li id="menu-item-494" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-494"><a href="http://pencidesign.com/vancouver/?demo=slider-4">Home with
                                Slider 4</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-214" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-214"><a href="http://pencidesign.com/vancouver/?demo=classic">Classic Layout</a>
                    </li>
                    <li id="menu-item-215" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-215"><a href="http://pencidesign.com/vancouver/?demo=standard">Standard Layout</a>
                    </li>
                    <li id="menu-item-223" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-223"><a href="http://pencidesign.com/vancouver/?demo=grid">Grid Layout</a></li>
                    <li id="menu-item-222" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-222"><a href="http://pencidesign.com/vancouver/?demo=list">List Layout</a></li>
                    <li id="menu-item-224" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-224"><a href="http://pencidesign.com/vancouver/?demo=list-boxed">Boxed Layout</a>
                    </li>
                    <li id="menu-item-436" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-436"><a href="#">Masonry Layout</a>
                        <ul class="sub-menu">
                            <li id="menu-item-434" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-434"><a href="http://pencidesign.com/vancouver/?demo=standard-masonry">Standard
                                Masonry</a></li>
                            <li id="menu-item-435" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-435"><a href="http://pencidesign.com/vancouver/?demo=classic-masonry">Classic
                                Masonry</a></li>
                            <li id="menu-item-225" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-225"><a href="http://pencidesign.com/vancouver/?demo=masonry">Grid
                                Masonry</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-398" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-398"><a href="#">1st Classic Then Post</a>
                        <ul class="sub-menu">
                            <li id="menu-item-216" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-216"><a href="http://pencidesign.com/vancouver/?demo=classic-grid">1st
                                Classic Then Grid</a></li>
                            <li id="menu-item-217" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-217"><a href="http://pencidesign.com/vancouver/?demo=classic-list">1st
                                Classic Then List</a></li>
                            <li id="menu-item-218" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-218"><a href="http://pencidesign.com/vancouver/?demo=classic-list-boxed">1st
                                Classic Then Boxed</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-400" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-400"><a href="#">1st Standard Then Post</a>
                        <ul class="sub-menu">
                            <li id="menu-item-219" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-219"><a href="http://pencidesign.com/vancouver/?demo=standard-grid">1st
                                Standard Then Grid</a></li>
                            <li id="menu-item-220" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-220"><a href="http://pencidesign.com/vancouver/?demo=standard-list">1st
                                Standard Then List</a></li>
                            <li id="menu-item-221" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-221"><a href="http://pencidesign.com/vancouver/?demo=standard-list-boxed">1st
                                Standard Then Boxed</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-228" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-228"><a href="http://pencidesign.com/vancouver/?demo=sticky-sidebar">Home W/ Sticky
                        Sidebar</a></li>
                    <li id="menu-item-226" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-226"><a href="http://pencidesign.com/vancouver/?demo=fullwidth">Full Width
                        Layout</a></li>
                </ul>
            </li>
            <li id="menu-item-159" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-159"><a href="#">Pages</a>
                <ul class="sub-menu">
                    <li id="menu-item-248" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-248"><a href="http://pencidesign.com/vancouver/page-full-width/">Page Full
                        Width</a></li>
                    <li id="menu-item-242" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242"><a href="http://pencidesign.com/vancouver/page-with-sidebar/">Page W/
                        Sidebar</a></li>
                    <li id="menu-item-245" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-245"><a
                            href="http://pencidesign.com/vancouver/page-sticky-sidebar/?demo=page-sticky-sidebar">Page W/ Sticky Sidebar</a></li>
                    <li id="menu-item-395" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-395"><a href="http://pencidesign.com/vancouver/contact/">Page W/ Custom Sidebar</a>
                    </li>
                    <li id="menu-item-153" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-153"><a href="http://pencidesign.com/vancouver/404-page">Page 404</a></li>
                    <li id="menu-item-158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-158"><a
                            href="http://pencidesign.com/vancouver/our-website-is-currently-under-construction/">Under Construction</a></li>
                </ul>
            </li>
            <li id="menu-item-229" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-229"><a href="#">Features</a>
                <ul class="sub-menu">
                    <li id="menu-item-417" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-417"><a
                            href="http://pencidesign.com/vancouver/typography/?demo=page-sticky-sidebar">Typography</a></li>
                    <li id="menu-item-366" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-366"><a href="http://pencidesign.com/vancouver/joy-in-life/">Standard Post</a></li>
                    <li id="menu-item-367" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-367"><a href="http://pencidesign.com/vancouver/recipes-vegetables/">Gallery
                        Post</a></li>
                    <li id="menu-item-369" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-369"><a href="#">Video Post</a>
                        <ul class="sub-menu">
                            <li id="menu-item-370" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-370"><a href="http://pencidesign.com/vancouver/capture-moments/">Youtube
                                Video</a></li>
                            <li id="menu-item-368" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-368"><a href="http://pencidesign.com/vancouver/travel-with-friends/">Vimeo
                                Video</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-371" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-371"><a href="http://pencidesign.com/vancouver/my-story-hair-day/">Audio Post</a>
                    </li>
                    <li id="menu-item-373" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-373"><a href="http://pencidesign.com/vancouver/girls-in-sunset/?demo=fullwidth">Full
                        Width Post</a></li>
                    <li id="menu-item-374" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-374"><a href="http://pencidesign.com/vancouver/pick-up-dress/?demo=sticky-sidebar">Post
                        W/ Sticky Sidebar</a></li>
                    <li id="menu-item-376" class="menu-item menu-item-type-post_type menu-item-object-post menu-item-376"><a href="http://pencidesign.com/vancouver/pick-up-dress/">Post W/ Custom
                        Sidebar</a></li>
                    <li id="menu-item-418" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-418"><a href="http://pencidesign.com/vancouver/category/life-style/">Category
                        Listings</a></li>
                </ul>
            </li>
            <li id="menu-item-233" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-233"><a href="#">Headers</a>
                <ul class="sub-menu">
                    <li id="menu-item-234" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-234"><a href="http://pencidesign.com/vancouver/?demo=header-1">Header Horizontal
                        1</a></li>
                    <li id="menu-item-230" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-230"><a href="http://pencidesign.com/vancouver/?demo=header-2">Header Horizontal
                        2</a></li>
                    <li id="menu-item-231" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-231"><a href="http://pencidesign.com/vancouver/?demo=header-3">Header Vertical 1</a>
                    </li>
                    <li id="menu-item-232" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-232"><a href="http://pencidesign.com/vancouver/?demo=header-4">Header Vertical 2</a>
                    </li>
                </ul>
            </li>
            <li id="menu-item-213" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-213"><a href="#">Portfolio</a>
                <ul class="sub-menu">
                    <li id="menu-item-207" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-207"><a href="http://pencidesign.com/vancouver/portfolio-gallery-grid-2-columns/">Gallery
                        grid 2 columns</a></li>
                    <li id="menu-item-208" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-208"><a href="http://pencidesign.com/vancouver/portfolio-gallery-grid-3-columns/">Gallery
                        grid 3 columns</a></li>
                    <li id="menu-item-209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-209"><a
                            href="http://pencidesign.com/vancouver/portfolio-gallery-grid-with-sidebar/">Gallery Grid w/ Sidebar</a></li>
                    <li id="menu-item-210" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-210"><a href="http://pencidesign.com/vancouver/portfolio-text-grid-2-columns/">Text
                        grid 2 columns</a></li>
                    <li id="menu-item-211" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-211"><a href="http://pencidesign.com/vancouver/portfolio-text-grid-3-columns/">Text
                        grid 3 columns</a></li>
                    <li id="menu-item-212" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-212"><a href="http://pencidesign.com/vancouver/portfolio-text-grid-with-sidebar/">Text
                        grid with sidebar</a></li>
                </ul>
            </li>
            <li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65"><a href="http://pencidesign.com/vancouver/about-me-2/">About me</a></li>
            <li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a href="http://pencidesign.com/vancouver/contact/">Contact</a></li>
            <li id="menu-item-475" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-475"><a title="Purchase now for $48" target="_blank"
                                                                                                                    href="http://themeforest.net/item/vancouver-multiple-layouts-wordpress-blog-theme/12180181?ref=PenciDesign&#038;license=regular&#038;open_purchase_for_item_id=12180181&#038;purchasable=source">Purchase</a>
            </li>
        </ul>
    </nav>


    <header id="header"><!-- #header -->
        <div class="inner-header">
            <div class="pattern-grey"></div>
            <div class="container">
                <div id="logo">
                    <h1>
                        <a href="http://pencidesign.com/vancouver/"><img src="http://pencidesign.com/vancouver/wp-content/themes/vancouver/images/logo.png" alt="Vancouver"/></a>
                    </h1>
                </div>

                <div class="header-social">
                    <div class="inner-header-social">
                        <a href="http://facebook.com/PenciDesign" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a href="http://twitter.com/#" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a href="http://plus.google.com/#" target="_blank"><i class="fa fa-google-plus"></i></a>
                        <a href="http://instagram.com/#" target="_blank"><i class="fa fa-instagram"></i></a>
                        <a href="http://pinterest.com/#" target="_blank"><i class="fa fa-pinterest"></i></a>
                        <a href="http://tumblr.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i></a>
                        <a href="#" target="_blank"><i class="fa fa-rss"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation -->
        <nav id="navigation" class="header-layout-bottom header-2">
            <div class="container">
                <div class="button-menu-mobile"><i class="fa fa-bars"></i></div>
                <ul id="menu-menu-2" class="menu">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children menu-item-43"><a
                            href="http://pencidesign.com/vancouver/">Home</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-492"><a href="#">Home with orther Slider</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-227"><a href="http://pencidesign.com/vancouver/?demo=slider-1">Home with Slider 2</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-493"><a href="http://pencidesign.com/vancouver/?demo=slider-3">Home with Slider 3</a>
                                    </li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-494"><a href="http://pencidesign.com/vancouver/?demo=slider-4">Home with Slider 4</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-214"><a href="http://pencidesign.com/vancouver/?demo=classic">Classic Layout</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-215"><a href="http://pencidesign.com/vancouver/?demo=standard">Standard Layout</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-223"><a href="http://pencidesign.com/vancouver/?demo=grid">Grid Layout</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-222"><a href="http://pencidesign.com/vancouver/?demo=list">List Layout</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-224"><a href="http://pencidesign.com/vancouver/?demo=list-boxed">Boxed Layout</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-436"><a href="#">Masonry Layout</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-434"><a href="http://pencidesign.com/vancouver/?demo=standard-masonry">Standard
                                        Masonry</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-435"><a href="http://pencidesign.com/vancouver/?demo=classic-masonry">Classic
                                        Masonry</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-225"><a href="http://pencidesign.com/vancouver/?demo=masonry">Grid Masonry</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-398"><a href="#">1st Classic Then Post</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-216"><a href="http://pencidesign.com/vancouver/?demo=classic-grid">1st Classic Then
                                        Grid</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-217"><a href="http://pencidesign.com/vancouver/?demo=classic-list">1st Classic Then
                                        List</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-218"><a href="http://pencidesign.com/vancouver/?demo=classic-list-boxed">1st Classic
                                        Then Boxed</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-400"><a href="#">1st Standard Then Post</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-219"><a href="http://pencidesign.com/vancouver/?demo=standard-grid">1st Standard Then
                                        Grid</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-220"><a href="http://pencidesign.com/vancouver/?demo=standard-list">1st Standard Then
                                        List</a></li>
                                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-221"><a href="http://pencidesign.com/vancouver/?demo=standard-list-boxed">1st Standard
                                        Then Boxed</a></li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-228"><a href="http://pencidesign.com/vancouver/?demo=sticky-sidebar">Home W/ Sticky Sidebar</a>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-226"><a href="http://pencidesign.com/vancouver/?demo=fullwidth">Full Width Layout</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-159"><a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-248"><a href="http://pencidesign.com/vancouver/page-full-width/">Page Full Width</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-242"><a href="http://pencidesign.com/vancouver/page-with-sidebar/">Page W/ Sidebar</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-245"><a href="http://pencidesign.com/vancouver/page-sticky-sidebar/?demo=page-sticky-sidebar">Page
                                W/ Sticky Sidebar</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-395"><a href="http://pencidesign.com/vancouver/contact/">Page W/ Custom Sidebar</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-153"><a href="http://pencidesign.com/vancouver/404-page">Page 404</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-158"><a href="http://pencidesign.com/vancouver/our-website-is-currently-under-construction/">Under
                                Construction</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-229"><a href="#">Features</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-417"><a
                                    href="http://pencidesign.com/vancouver/typography/?demo=page-sticky-sidebar">Typography</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-366"><a href="http://pencidesign.com/vancouver/joy-in-life/">Standard Post</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-367"><a href="http://pencidesign.com/vancouver/recipes-vegetables/">Gallery Post</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-369"><a href="#">Video Post</a>
                                <ul class="sub-menu">
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-370"><a href="http://pencidesign.com/vancouver/capture-moments/">Youtube Video</a>
                                    </li>
                                    <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-368"><a href="http://pencidesign.com/vancouver/travel-with-friends/">Vimeo Video</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-371"><a href="http://pencidesign.com/vancouver/my-story-hair-day/">Audio Post</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-373"><a href="http://pencidesign.com/vancouver/girls-in-sunset/?demo=fullwidth">Full Width
                                Post</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-374"><a href="http://pencidesign.com/vancouver/pick-up-dress/?demo=sticky-sidebar">Post W/
                                Sticky Sidebar</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-post menu-item-376"><a href="http://pencidesign.com/vancouver/pick-up-dress/">Post W/ Custom Sidebar</a></li>
                            <li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-418"><a href="http://pencidesign.com/vancouver/category/life-style/">Category Listings</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-233"><a href="#">Headers</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-234"><a href="http://pencidesign.com/vancouver/?demo=header-1">Header Horizontal 1</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-230"><a href="http://pencidesign.com/vancouver/?demo=header-2">Header Horizontal 2</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-231"><a href="http://pencidesign.com/vancouver/?demo=header-3">Header Vertical 1</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-232"><a href="http://pencidesign.com/vancouver/?demo=header-4">Header Vertical 2</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-213"><a href="#">Portfolio</a>
                        <ul class="sub-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-207"><a href="http://pencidesign.com/vancouver/portfolio-gallery-grid-2-columns/">Gallery grid
                                2 columns</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-208"><a href="http://pencidesign.com/vancouver/portfolio-gallery-grid-3-columns/">Gallery grid
                                3 columns</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-209"><a href="http://pencidesign.com/vancouver/portfolio-gallery-grid-with-sidebar/">Gallery
                                Grid w/ Sidebar</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-210"><a href="http://pencidesign.com/vancouver/portfolio-text-grid-2-columns/">Text grid 2
                                columns</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-211"><a href="http://pencidesign.com/vancouver/portfolio-text-grid-3-columns/">Text grid 3
                                columns</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-212"><a href="http://pencidesign.com/vancouver/portfolio-text-grid-with-sidebar/">Text grid
                                with sidebar</a></li>
                        </ul>
                    </li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65"><a href="http://pencidesign.com/vancouver/about-me-2/">About me</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a href="http://pencidesign.com/vancouver/contact/">Contact</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-475"><a title="Purchase now for $48" target="_blank"
                                                                                                         href="http://themeforest.net/item/vancouver-multiple-layouts-wordpress-blog-theme/12180181?ref=PenciDesign&#038;license=regular&#038;open_purchase_for_item_id=12180181&#038;purchasable=source">Purchase</a>
                    </li>
                </ul>
                <div id="top-search">
                    <a><i class="fa fa-search"></i></a>

                    <div class="show-search">
                        <form role="search" method="get" id="searchform" action="http://pencidesign.com/vancouver/">
                            <div>
                                <input type="text" class="search-input" placeholder="Type and hit enter..." name="s" id="s"/>
                            </div>
                        </form>
                        <a class="close-search"><i class="fa fa-close"></i></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- end #header -->

    <div class="container penci_sidebar" ng-app='myApp' ng-controller='NewsFeedController'>
        <div id="main">
            <div class="penci-homepage-title">
                <div class="pattern-grey"></div>
                <h3>Latest Stories</h3>
            </div>

            <div infinite-scroll='reddit.nextPage()' infinite-scroll-disabled='reddit.busy' infinite-scroll-distance='1'>
                <article ng-repeat='item in reddit.items' id="post-72" class="post-72 post type-post status-publish format-video has-post-thumbnail hentry category-travel post_format-post-format-video">


                    <div class="standard-post-image">
                        <a href="http://pencidesign.com/vancouver/travel-with-friends/"><img width="1170" height="775" src="http://pencidesign.com/vancouver/wp-content/uploads/2015/07/girls-1170x775.jpg"
                                                                                             class="attachment-full-thumb wp-post-image" alt="girls"/></a>
                        <a href="http://pencidesign.com/vancouver/travel-with-friends/" class="icon-post-format"><i class="fa fa-play"></i></a>
                    </div>


                    <div class="standard-content">
                        <div class="standard-share-box">
                            <div class="standard-inner-share-box">
                                <div class="sbox"><a href="#" class="penci-post-like" data-post_id="72" title="Like" data-like="Like" data-unlike="Unlike"><i class="fa fa-heart-o"></i></a></div>
                                <div class="sbox"><a href="http://pencidesign.com/vancouver/travel-with-friends/#comments"><i class="fa fa-comment-o"></i></a></div>
                                <div class="sbox">
                                    <a class="click-share-box"><i class="fa fa-send-o"></i></a>

                                    <div class="wrap-list-post-share">
                                        <div class="list-posts-share">
                                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://pencidesign.com/vancouver/travel-with-friends/"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank"
                                               href="https://twitter.com/home?status=Check%20out%20this%20article:%20TravelwithFriends%20-%20http://pencidesign.com/vancouver/travel-with-friends/"><i
                                                    class="fa fa-twitter"></i></a>
                                            <a target="_blank" href="https://plus.google.com/share?url=http://pencidesign.com/vancouver/travel-with-friends/"><i class="fa fa-google-plus"></i></a>
                                            <a target="_blank"
                                               href="https://pinterest.com/pin/create/button/?url=http://pencidesign.com/vancouver/travel-with-friends/&#038;media=http://pencidesign.com/vancouver/wp-content/uploads/2015/07/girls.jpg&#038;description=TravelwithFriends"><i
                                                    class="fa fa-pinterest"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="standard-main-content has-padding">
                            <span class="cat"><a class="penci-cat-name" href="http://pencidesign.com/vancouver/category/travel/" title="View all posts in Travel">Travel</a></span>

                            <h2><a href="http://pencidesign.com/vancouver/travel-with-friends/">{$ item.verb $}</a></h2>

                            <div class="post-box-meta">
                                <span class="author-post">posted by <strong>Penci</strong></span>
                                <span>May 27, 2015</span>
                                <span>3 Comments</span>
                            </div>

                            <div class="post-entry standard-post-entry">
                                <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quiseni. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
                                    In enim justo rhoncusu imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tinciduras dapibus. Vivamus elementum semper nisi.
                                    Aenean vulputate.</p>

                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                    architecto beatae vitae.<br/>
                                    <a href="http://pencidesign.com/vancouver/travel-with-friends/#more-72" class="more-link">Continue Reading</a></p>
                            </div>
                        </div>
                    </div>

                </article>
            </div>

            <div class="penci-pagination">
                <div class="older"><a href="http://pencidesign.com/vancouver/page/2/">Older Posts <i class="fa fa-angle-double-right"></i></a></div>
                <div class="newer"></div>
            </div>
        </div>


        <div id="sidebar">
            <aside id="pencidesign_about_widget-2" class="widget pencidesign_about_widget"><h4 class="widget-title"><span class="pattern-grey"></span><span><span>About Me</span></span></h4>

                <div class="about-widget">

                    <img src="http://pencidesign.com/vancouver/wp-content/uploads/2015/07/about-me.jpg" alt="About Me"/>

                    <div class="about-list-social">
                        <a target="_blank" class="author-social" href="http://facebook.com/pencidesign"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" class="author-social" href="http://twitter.com/PenciDesign"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" class="author-social" href="http://plus.google.com/pencidesign?rel=author"><i class="fa fa-google-plus"></i></a>
                        <a target="_blank" class="author-social" href="http://instagram.com/pencidesign"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" class="author-social" href="http://pinterest.com/pencidesign"><i class="fa fa-pinterest"></i></a>
                        <a target="_blank" class="author-social" href="http://pencidesign.tumblr.com/"><i class="fa fa-tumblr"></i></a>
                    </div>

                    <p>Hello. I am a blogger. I know a lot of people who like to write. They blog, email, maybe even journal. And that’s good. Welcome to my little world.</p>

                </div>

            </aside>
            <aside id="categories-2" class="widget widget_categories"><h4 class="widget-title"><span class="pattern-grey"></span><span><span>Categories</span></span></h4>
                <ul>
                    <li class="cat-item cat-item-19"><a href="http://pencidesign.com/vancouver/category/feature/">Feature</a> (5)
                    </li>
                    <li class="cat-item cat-item-22"><a href="http://pencidesign.com/vancouver/category/food/">Food</a> (2)
                    </li>
                    <li class="cat-item cat-item-20"><a href="http://pencidesign.com/vancouver/category/life-style/">Life Style</a> (8)
                    </li>
                    <li class="cat-item cat-item-21"><a href="http://pencidesign.com/vancouver/category/travel/">Travel</a> (7)
                    </li>
                </ul>
            </aside>
            <aside id="pencidesign_latest_news_widget-2" class="widget pencidesign_latest_news_widget"><h4 class="widget-title"><span class="pattern-grey"></span><span><span>Latest Posts</span></span>
            </h4>
                <ul class="side-newsfeed">


                    <li>
                        <div class="side-item">

                            <div class="side-image">
                                <a href="http://pencidesign.com/vancouver/travel-with-friends/" rel="bookmark" title="Travel with Friends"><img width="150" height="100"
                                                                                                                                                src="http://pencidesign.com/vancouver/wp-content/uploads/2015/07/girls-585x390.jpg"
                                                                                                                                                class="side-item-thumb wp-post-image" alt="girls"/></a>
                            </div>
                            <div class="side-item-text">
                                <h4><a href="http://pencidesign.com/vancouver/travel-with-friends/" rel="bookmark" title="Travel with Friends">Travel with Friends</a></h4>
                                <span class="side-item-meta">May 27, 2015</span>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="side-item">

                            <div class="side-image">
                                <a href="http://pencidesign.com/vancouver/recipes-vegetables/" rel="bookmark" title="My Recipes: Vegetables"><img width="150" height="100"
                                                                                                                                                  src="http://pencidesign.com/vancouver/wp-content/uploads/2015/07/kitchen-585x390.jpg"
                                                                                                                                                  class="side-item-thumb wp-post-image" alt="kitchen"/></a>
                            </div>
                            <div class="side-item-text">
                                <h4><a href="http://pencidesign.com/vancouver/recipes-vegetables/" rel="bookmark" title="My Recipes: Vegetables">My Recipes: Vegetables</a></h4>
                                <span class="side-item-meta">May 27, 2015</span>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="side-item">

                            <div class="side-image">
                                <a href="http://pencidesign.com/vancouver/pick-up-dress/" rel="bookmark" title="Pick up your Dress"><img width="150" height="100"
                                                                                                                                         src="http://pencidesign.com/vancouver/wp-content/uploads/2015/07/girl-stand-585x390.jpg"
                                                                                                                                         class="side-item-thumb wp-post-image" alt="girl-stand"/></a>
                            </div>
                            <div class="side-item-text">
                                <h4><a href="http://pencidesign.com/vancouver/pick-up-dress/" rel="bookmark" title="Pick up your Dress">Pick up your Dress</a></h4>
                                <span class="side-item-meta">May 25, 2015</span>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="side-item">

                            <div class="side-image">
                                <a href="http://pencidesign.com/vancouver/green-life-style/" rel="bookmark" title="Green Life Style"><img width="150" height="100"
                                                                                                                                          src="http://pencidesign.com/vancouver/wp-content/uploads/2015/07/evergreen-585x390.jpg"
                                                                                                                                          class="side-item-thumb wp-post-image" alt="evergreen"/></a>
                            </div>
                            <div class="side-item-text">
                                <h4><a href="http://pencidesign.com/vancouver/green-life-style/" rel="bookmark" title="Green Life Style">Green Life Style</a></h4>
                                <span class="side-item-meta">May 22, 2015</span>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="side-item">

                            <div class="side-image">
                                <a href="http://pencidesign.com/vancouver/become-gentle-man/" rel="bookmark" title="Become a Gentle Man"><img width="150" height="100"
                                                                                                                                              src="http://pencidesign.com/vancouver/wp-content/uploads/2015/07/man-fashion-585x390.jpg"
                                                                                                                                              class="side-item-thumb wp-post-image" alt="man-fashion"/></a>
                            </div>
                            <div class="side-item-text">
                                <h4><a href="http://pencidesign.com/vancouver/become-gentle-man/" rel="bookmark" title="Become a Gentle Man">Become a Gentle Man</a></h4>
                                <span class="side-item-meta">May 22, 2015</span>
                            </div>
                        </div>
                    </li>


                </ul>

            </aside>
            <aside id="jr_insta_slider-3" class="widget jr-insta-slider"><h4 class="widget-title"><span class="pattern-grey"></span><span><span>Instagram</span></span></h4>

                <div class='jr-insta-thumb'>
                    <ul class='no-bullet thumbnails no-border jr_col_3'>
                        <li><a href="https://instagram.com/p/6iDS9Eog3S" target="_blank" title="Probiotic coconut chia pudding experiment With vanilla bean and lavenderhellip"><img
                                src="https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/s320x320/11349360_1029489587081279_1288703525_n.jpg"
                                alt="Probiotic coconut chia pudding experiment With vanilla bean and lavenderhellip"
                                title="Probiotic coconut chia pudding experiment With vanilla bean and lavenderhellip"/></a></li>
                        <li><a href="https://instagram.com/p/6imuqQIg9M" target="_blank" title="Weekly spaghetti night Not to be trifled with"><img
                                src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/11371071_884093228312525_8713323_n.jpg" alt="Weekly spaghetti night Not to be trifled with"
                                title="Weekly spaghetti night Not to be trifled with"/></a></li>
                        <li><a href="https://instagram.com/p/6kN2YcIg--" target="_blank" title="What do we do every morning in August? Eat peacheshellip"><img
                                src="https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/s320x320/11809862_1007497495968240_1715722421_n.jpg"
                                alt="What do we do every morning in August? Eat peacheshellip" title="What do we do every morning in August? Eat peacheshellip"/></a></li>
                        <li><a href="https://instagram.com/p/6lVyjOog2y" target="_blank" title="Giant ros spritzer No shame summerwater howisummer"><img
                                src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/s320x320/11375232_743964622416794_1941792847_n.jpg"
                                alt="Giant ros spritzer No shame summerwater howisummer" title="Giant ros spritzer No shame summerwater howisummer"/></a></li>
                        <li><a href="https://instagram.com/p/6nUzLNog-T" target="_blank" title="Reaching for that rainbow with this vegan lunch bowl Withhellip"><img
                                src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/11348281_1469507973351533_485448595_n.jpg"
                                alt="Reaching for that rainbow with this vegan lunch bowl Withhellip" title="Reaching for that rainbow with this vegan lunch bowl Withhellip"/></a></li>
                        <li><a href="https://instagram.com/p/6nt841og99" target="_blank" title="These eggplant amazeballs sorry  are on the blog todayhellip"><img
                                src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/s320x320/11856836_838392252942282_625262331_n.jpg"
                                alt="These eggplant amazeballs sorry  are on the blog todayhellip" title="These eggplant amazeballs sorry  are on the blog todayhellip"/></a></li>
                        <li><a href="https://instagram.com/p/6pU-fCIg5o" target="_blank" title="Its cool enough to wear jeans comfortably Im already onhellip"><img
                                src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/s320x320/11910548_886509101386703_1176973073_n.jpg"
                                alt="Its cool enough to wear jeans comfortably Im already onhellip" title="Its cool enough to wear jeans comfortably Im already onhellip"/></a></li>
                        <li><a href="https://instagram.com/p/6qA_T3IgzM" target="_blank" title="Antique shop scores  a major raw chocolate smoothie bowlhellip"><img
                                src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/s320x320/11906287_529294303896679_1729700836_n.jpg"
                                alt="Antique shop scores  a major raw chocolate smoothie bowlhellip" title="Antique shop scores  a major raw chocolate smoothie bowlhellip"/></a></li>
                        <li><a href="https://instagram.com/p/6tKhobIg5K" target="_blank" title="daddelivery also holy shiiiiiit artichoke!! loveONTfood"><img
                                src="https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/s320x320/11356982_1693878497520992_581040336_n.jpg"
                                alt="daddelivery also holy shiiiiiit artichoke!! loveONTfood" title="daddelivery also holy shiiiiiit artichoke!! loveONTfood"/></a></li>
                    </ul>
                </div>
            </aside>
            <aside id="pencidesign_popular_news_widget-2" class="widget pencidesign_popular_news_widget"><h4 class="widget-title"><span
                    class="pattern-grey"></span><span><span>Popular Posts</span></span></h4>
                <ul class="side-newsfeed">


                    <li>
                        <div class="side-item">
                            <div class="side-image">
                                <a href="http://pencidesign.com/vancouver/travel-with-friends/" rel="bookmark" title="Travel with Friends"><span class="count-post">1</span><img width="150"
                                                                                                                                                                                 height="100"
                                                                                                                                                                                 src="http://pencidesign.com/vancouver/wp-content/uploads/2015/07/girls-585x390.jpg"
                                                                                                                                                                                 class="side-item-thumb wp-post-image"
                                                                                                                                                                                 alt="girls"/></a>
                            </div>
                            <div class="side-item-text">
                                <h4><a href="http://pencidesign.com/vancouver/travel-with-friends/" rel="bookmark" title="Travel with Friends">Travel with Friends</a></h4>
                                <span class="side-item-meta">May 27, 2015</span>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="side-item">
                            <div class="side-image">
                                <a href="http://pencidesign.com/vancouver/recipes-vegetables/" rel="bookmark" title="My Recipes: Vegetables"><span class="count-post">2</span><img width="150"
                                                                                                                                                                                   height="100"
                                                                                                                                                                                   src="http://pencidesign.com/vancouver/wp-content/uploads/2015/07/kitchen-585x390.jpg"
                                                                                                                                                                                   class="side-item-thumb wp-post-image"
                                                                                                                                                                                   alt="kitchen"/></a>
                            </div>
                            <div class="side-item-text">
                                <h4><a href="http://pencidesign.com/vancouver/recipes-vegetables/" rel="bookmark" title="My Recipes: Vegetables">My Recipes: Vegetables</a></h4>
                                <span class="side-item-meta">May 27, 2015</span>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="side-item">
                            <div class="side-image">
                                <a href="http://pencidesign.com/vancouver/pick-up-dress/" rel="bookmark" title="Pick up your Dress"><span class="count-post">3</span><img width="150" height="100"
                                                                                                                                                                          src="http://pencidesign.com/vancouver/wp-content/uploads/2015/07/girl-stand-585x390.jpg"
                                                                                                                                                                          class="side-item-thumb wp-post-image"
                                                                                                                                                                          alt="girl-stand"/></a>
                            </div>
                            <div class="side-item-text">
                                <h4><a href="http://pencidesign.com/vancouver/pick-up-dress/" rel="bookmark" title="Pick up your Dress">Pick up your Dress</a></h4>
                                <span class="side-item-meta">May 25, 2015</span>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="side-item">
                            <div class="side-image">
                                <a href="http://pencidesign.com/vancouver/green-life-style/" rel="bookmark" title="Green Life Style"><span class="count-post">4</span><img width="150" height="100"
                                                                                                                                                                           src="http://pencidesign.com/vancouver/wp-content/uploads/2015/07/evergreen-585x390.jpg"
                                                                                                                                                                           class="side-item-thumb wp-post-image"
                                                                                                                                                                           alt="evergreen"/></a>
                            </div>
                            <div class="side-item-text">
                                <h4><a href="http://pencidesign.com/vancouver/green-life-style/" rel="bookmark" title="Green Life Style">Green Life Style</a></h4>
                                <span class="side-item-meta">May 22, 2015</span>
                            </div>
                        </div>
                    </li>


                    <li>
                        <div class="side-item">
                            <div class="side-image">
                                <a href="http://pencidesign.com/vancouver/become-gentle-man/" rel="bookmark" title="Become a Gentle Man"><span class="count-post">5</span><img width="150" height="100"
                                                                                                                                                                               src="http://pencidesign.com/vancouver/wp-content/uploads/2015/07/man-fashion-585x390.jpg"
                                                                                                                                                                               class="side-item-thumb wp-post-image"
                                                                                                                                                                               alt="man-fashion"/></a>
                            </div>
                            <div class="side-item-text">
                                <h4><a href="http://pencidesign.com/vancouver/become-gentle-man/" rel="bookmark" title="Become a Gentle Man">Become a Gentle Man</a></h4>
                                <span class="side-item-meta">May 22, 2015</span>
                            </div>
                        </div>
                    </li>


                </ul>

            </aside>
            <aside id="archives-2" class="widget widget_archive"><h4 class="widget-title"><span class="pattern-grey"></span><span><span>Archives</span></span></h4>
                <ul>
                    <li><a href='http://pencidesign.com/vancouver/2015/05/'>May 2015</a>&nbsp;(6)</li>
                    <li><a href='http://pencidesign.com/vancouver/2015/04/'>April 2015</a>&nbsp;(3)</li>
                    <li><a href='http://pencidesign.com/vancouver/2015/03/'>March 2015</a>&nbsp;(6)</li>
                </ul>
            </aside>
            <aside id="pencidesign_facebook_widget-2" class="widget pencidesign_facebook_widget"><h4 class="widget-title"><span
                    class="pattern-grey"></span><span><span>Find us on Facebook</span></span></h4>

                <div class="fb-page" data-href="https://www.facebook.com/PenciDesign" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"
                     data-show-posts="false">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/PenciDesign"><a href="https://www.facebook.com/PenciDesign">PenciDesign</a></blockquote>
                    </div>
                </div>

            </aside>
            <aside id="pencidesign_social_widget-4" class="widget pencidesign_social_widget"><h4 class="widget-title"><span class="pattern-grey"></span><span><span>Follow Us</span></span></h4>

                <div class="widget-social">
                    <a href="http://facebook.com/PenciDesign" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>

                    <a href="http://twitter.com/#" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a>

                    <a href="http://plus.google.com/#" target="_blank"><i class="fa fa-google-plus"></i><span>Google Plus</span></a>

                    <a href="http://instagram.com/#" target="_blank"><i class="fa fa-instagram"></i><span>Instagram</span></a>

                    <a href="http://pinterest.com/#" target="_blank"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>


                </div>


            </aside>
            <aside id="text-2" class="widget widget_text">
                <div class="textwidget"><img src="http://pencidesign.com/vancouver/wp-content/uploads/2015/07/banner-sport.jpg" alt="Banner Spot"/></div>
            </aside>
            <aside id="tag_cloud-5" class="widget widget_tag_cloud"><h4 class="widget-title"><span class="pattern-grey"></span><span><span>Tags</span></span></h4>

                <div class="tagcloud"><a href='http://pencidesign.com/vancouver/tag/boy/' class='tag-link-34' title='1 topic' style='font-size: 8pt;'>boy</a>
                    <a href='http://pencidesign.com/vancouver/tag/brown/' class='tag-link-25' title='2 topics' style='font-size: 22pt;'>brown</a>
                    <a href='http://pencidesign.com/vancouver/tag/girl/' class='tag-link-24' title='2 topics' style='font-size: 22pt;'>girl</a>
                    <a href='http://pencidesign.com/vancouver/tag/grass/' class='tag-link-27' title='1 topic' style='font-size: 8pt;'>grass</a>
                    <a href='http://pencidesign.com/vancouver/tag/green/' class='tag-link-30' title='1 topic' style='font-size: 8pt;'>green</a>
                    <a href='http://pencidesign.com/vancouver/tag/journey/' class='tag-link-31' title='1 topic' style='font-size: 8pt;'>journey</a>
                    <a href='http://pencidesign.com/vancouver/tag/man/' class='tag-link-28' title='1 topic' style='font-size: 8pt;'>man</a>
                    <a href='http://pencidesign.com/vancouver/tag/rosemary/' class='tag-link-32' title='1 topic' style='font-size: 8pt;'>rosemary</a>
                    <a href='http://pencidesign.com/vancouver/tag/story/' class='tag-link-33' title='1 topic' style='font-size: 8pt;'>story</a>
                    <a href='http://pencidesign.com/vancouver/tag/vintage/' class='tag-link-23' title='2 topics' style='font-size: 22pt;'>vintage</a>
                    <a href='http://pencidesign.com/vancouver/tag/wander/' class='tag-link-26' title='1 topic' style='font-size: 8pt;'>wander</a>
                    <a href='http://pencidesign.com/vancouver/tag/yellow/' class='tag-link-29' title='1 topic' style='font-size: 8pt;'>yellow</a></div>
            </aside>
        </div>
        <!-- END CONTAINER -->
    </div>
    <div class="clear-footer"></div>


    <div id="widget-area">
        <div class="pattern-grey"></div>
        <div class="container">
            <div class="footer-widget-wrapper">
                <aside id="pencidesign_quote_widget-2" class="widget pencidesign_quote_widget"><h4 class="widget-title">My philosophy</h4>

                    <div class="quote-widget">
                        <i class="fa fa-quote-left"></i>

                        <p>Wonderful serenities have taken possession of my entire soul, loook like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of
                            existence in this spot, which was created for the bliss of souls. I am so happy, my dear friend...</p>
                    </div>

                </aside>
            </div>
            <div class="footer-widget-wrapper">
                <aside id="pencidesign_social_widget-3" class="widget pencidesign_social_widget"><h4 class="widget-title">Keep in Touch</h4>

                    <div class="widget-social">
                        <a href="http://facebook.com/PenciDesign" target="_blank"><i class="fa fa-facebook"></i><span>Facebook</span></a>

                        <a href="http://twitter.com/#" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a>

                        <a href="http://plus.google.com/#" target="_blank"><i class="fa fa-google-plus"></i><span>Google Plus</span></a>

                        <a href="http://instagram.com/#" target="_blank"><i class="fa fa-instagram"></i><span>Instagram</span></a>

                        <a href="http://pinterest.com/#" target="_blank"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>

                        <a href="http://tumblr.tumblr.com/" target="_blank"><i class="fa fa-tumblr"></i><span>Tumblr</span></a>

                        <a href="http://youtube.com/" target="_blank"><i class="fa fa-youtube-play"></i><span>Youtube</span></a>

                        <a href="#" target="_blank"><i class="fa fa-rss"></i><span>RSS</span></a>
                    </div>


                </aside>
            </div>
            <div class="footer-widget-wrapper last">
                <aside id="mc4wp_widget-2" class="widget widget_mc4wp_widget"><h4 class="widget-title">Subscribe</h4>
                    <!-- MailChimp for WordPress v2.3.7 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                    <div id="mc4wp-form-1" class="form mc4wp-form">
                        <form method="post" role="form"><p>
                            <input type="text" name="FNAME" placeholder="Name...">
                        </p>

                            <p>
                                <input type="email" name="EMAIL" placeholder="Email..." required="required">
                            </p>

                            <p>
                                <input type="submit" value="Subscribe">
                            </p><input type="text" name="_mc4wp_required_but_not_really" value=""/><input type="hidden" name="_mc4wp_timestamp" value="1440343680"/><input type="hidden"
                                                                                                                                                                           name="_mc4wp_form_id"
                                                                                                                                                                           value="0"/><input
                                    type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1"/><input type="hidden" name="_mc4wp_form_submit" value="1"/><input type="hidden"
                                                                                                                                                                       name="_mc4wp_form_nonce"
                                                                                                                                                                       value="0bd2ef3a68"/></form>
                    </div>
                    <!-- / MailChimp for WordPress Plugin --></aside>
            </div>
        </div>
    </div>

    <div class="footer-instagram">
        <aside id="jr_insta_slider-2" class="widget jr-insta-slider"><h4 class="footer-instagram-title"><span><strong class="pattern-grey"></strong><span class="title">FOLLOW ME @PENCI</span></span>
        </h4>

            <div class='jr-insta-thumb'>
                <ul class='no-bullet thumbnails no-border jr_col_6'>
                    <li><a href="https://instagram.com/p/6tKhobIg5K" target="_blank" title="daddelivery also holy shiiiiiit artichoke!! loveONTfood"><img
                            src="https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11356982_1693878497520992_581040336_n.jpg"
                            alt="daddelivery also holy shiiiiiit artichoke!! loveONTfood" title="daddelivery also holy shiiiiiit artichoke!! loveONTfood"/></a></li>
                    <li><a href="https://instagram.com/p/6qA_T3IgzM" target="_blank" title="Antique shop scores  a major raw chocolate smoothie bowlhellip"><img
                            src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/11906287_529294303896679_1729700836_n.jpg"
                            alt="Antique shop scores  a major raw chocolate smoothie bowlhellip" title="Antique shop scores  a major raw chocolate smoothie bowlhellip"/></a></li>
                    <li><a href="https://instagram.com/p/6pU-fCIg5o" target="_blank" title="Its cool enough to wear jeans comfortably Im already onhellip"><img
                            src="https://scontent.cdninstagram.com/hphotos-xfa1/t51.2885-15/11910548_886509101386703_1176973073_n.jpg"
                            alt="Its cool enough to wear jeans comfortably Im already onhellip" title="Its cool enough to wear jeans comfortably Im already onhellip"/></a></li>
                    <li><a href="https://instagram.com/p/6nt841og99" target="_blank" title="These eggplant amazeballs sorry  are on the blog todayhellip"><img
                            src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/11856836_838392252942282_625262331_n.jpg"
                            alt="These eggplant amazeballs sorry  are on the blog todayhellip" title="These eggplant amazeballs sorry  are on the blog todayhellip"/></a></li>
                    <li><a href="https://instagram.com/p/6nUzLNog-T" target="_blank" title="Reaching for that rainbow with this vegan lunch bowl Withhellip"><img
                            src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/11348281_1469507973351533_485448595_n.jpg"
                            alt="Reaching for that rainbow with this vegan lunch bowl Withhellip" title="Reaching for that rainbow with this vegan lunch bowl Withhellip"/></a></li>
                    <li><a href="https://instagram.com/p/6lVyjOog2y" target="_blank" title="Giant ros spritzer No shame summerwater howisummer"><img
                            src="https://igcdn-photos-c-a.akamaihd.net/hphotos-ak-xaf1/t51.2885-15/11375232_743964622416794_1941792847_n.jpg" alt="Giant ros spritzer No shame summerwater howisummer"
                            title="Giant ros spritzer No shame summerwater howisummer"/></a></li>
                </ul>
            </div>
        </aside>
    </div>
    </body>
{% endblock %}


{% block extrajs %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="{% static "themes/triangle/js/ng-infinite-scroll.js" %}"></script>
    <script type="text/javascript">
        var myApp = angular.module('myApp', ['infinite-scroll']).config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{$');
            $interpolateProvider.endSymbol('$}');
        });

        myApp.config(['$httpProvider', function ($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        }]);

        myApp.controller('NewsFeedController', function ($scope, $http, Reddit) {
            $scope.reddit = new Reddit();
        });

        // Reddit constructor function to encapsulate HTTP and pagination logic
        myApp.factory('Reddit', function ($http) {
            var Reddit = function () {
                this.items = [];
                this.busy = false;
                this.after = '';
                this.user_id = "{{ user.id }}";
                this.last_feed_id = '';
            };

            Reddit.prototype.nextPage = function () {
                if (this.busy) return;
                this.busy = true;

{#                var url = "http://api.reddit.com/hot?after=" + this.after + "&jsonp=JSON_CALLBACK";#}
{#                $http.jsonp(url).success(function (data) {#}
{#                    var items = data.data.children;#}
{#                    for (var i = 0; i < items.length; i++) {#}
{#                        this.items.push(items[i].data);#}
{#                    }#}
{#                    this.after = "t3_" + this.items[this.items.length - 1].id;#}
{#                    this.busy = false;#}
{#                }.bind(this));#}

                $http({
                    url: '{% url "get_aggregated_feed" %}',
                    method: 'POST',
                    data: {user_id: this.user_id, last_feed_id: this.last_feed_id}
                }).then(function(data) {
                    var items = data.data.extended_activity_list;
                    for (var i = 0; i < items.length; i++) {
                        this.items.push(items[i]);
                    }
                    this.last_feed_id = data.data.next;
                    if(this.last_feed_id != "None")
                    {
                        this.busy = false;
                    }


                }.bind(this)).catch(function(e) {
                    alert("error");
                }.bind(this));
            };

            return Reddit;
        });
    </script>
{% endblock %}